body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sidebar {
            font-size: 1.25em;
            width: 20%;
            float: left;
            background-color: #f7f7f7;
            padding: 5px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            height: 60vh;
        }
.sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
.sidebar a.active {
            background-color: #FFD700;
            color: #fff;
        }
h1 {
      font-family: "Times New Roman";
      font-size: 2.25em;
      margin-bottom: 10px;
   }

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 18px;
    line-height: 1.4;
    color: grey;
    margin-bottom: 15px;
}
 .accordion-body {

    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 18px;
    line-height: 1.4;
    color: grey;
    margin-bottom: 15px;
    }

.card_animation {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: transform 0.3s;
}

.logo {
    width: auto; /* Adjust size as needed */
    height: auto;
    background: transparent; /* Ensures the image background is transparent */
}

.nav_bg{
background-color:#BF0005;
font-color:white;
}

/* Common Styles */
.banner-section {
    width: 100%;
    background-color: #f5f5f5;
}

.banner-section img {
    width: 100%;
    height: auto;
}

.title {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 22%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: transform 0.3s;
}

.card-content {
    padding: 15px;
}

.card-content p {
    color: #777;
    font-size: 12px;
    margin: 0;
}

.card-content h3 {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
}

.card-content .days {
    color: #f57c00;
    font-size: 14px;
    margin: 10px 0;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Image hover effect: slightly scale up */
.card img:hover {
    transform: scale(1.1);
}

/* Title hover effect: change color */
.card h3:hover {
    color: #f57c00;
}

.nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

/* Location icon size */
.location_icon_size {
   font-size: 16px;
}

/* call & email */
.call_email_icon_size {
   font-size: 24px;
}

