<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MC Tours & Traverls</title>
    <!-- Fontawesome cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- jquery cdn -->
    <!--Datatable CSS-->
    <!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" >

    <!--    Checkbox-->
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css" >
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

</head>
<body style=" ">
<div class="bg-light ">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="title_style col-3" >
                <h1 style="font-weight:Bold;"></h1>
            </div>
            <div class="col-6" >
                <h1 class="logo"><img src="/media/MC_Tours_travels_1.jpg" style="width:100px;height:100px;padding:2px;margin-right:10px;">MC Tours & Travels</h1>
            </div>
            <div class="col-2" >
                <h6>Hi, </h6>
                <h6 style="color:red;"></h6>
            </div>
            <div class="col-1" >
                <h1><a  class="btn btn-dark "><i class="fas fa-sign-out-alt"></i></a></h1>
            </div>
        </div>
    </div>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light nav_bg" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link"  href="{% url 'home_page' %}"><i class="fas fa-home" style="color:white;"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown_company" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'about_us' %}" >About us</a>
                            <a class="dropdown-item" href="{% url 'history' %}">History</a>
                            <a class="dropdown-item" href="{% url  'awards_achievements' %}">Award & Achievements</a>
                            <a class="dropdown-item" href="#">Media</a>
                            <a class="dropdown-item" href="#">Testimonials</a>
                            <a class="dropdown-item" href="{% url 'careers' %}">Careers</a>
                            <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>

                        </div>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="group_tours">Group Tours </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_packages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Packages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider">Honeymoon</div>
                            <a class="dropdown-item" href="{% url 'packages_india' %}">India</a>
                            <a class="dropdown-item" href="{% url 'packages_international'%}">International</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_honeymoon" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Honeymoon
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">India</a>
                            <a class="dropdown-item" href="#">International</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'cruise' %}">Cruise </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'wedding_india' %}" id="navbarDropdown_wedding" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Wedding
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="col">
                            <a class="dropdown-item" href="{% url 'wedding_india' %}"><b>India</b></a>
                                 <a class="dropdown-item" href="{% url 'wedding_agra' %}">Agra</a>
                                 <a class="dropdown-item" href="{% url 'wedding_andaman' %}">Andaman</a>
                                <a class="dropdown-item" href="{% url 'wedding_goa' %}">Goa</a>
                                <a class="dropdown-item" href="{% url 'wedding_jaipur' %}">Jaipur</a>
                                <a class="dropdown-item" href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                                <a class="dropdown-item" href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                                <a class="dropdown-item" href="{% url 'wedding_kerala' %}">Kerala</a>
                                <a class="dropdown-item" href="{% url 'wedding_udaipur' %}">Udaipur</a>
                                </div>
                            <div class="col">
                                <a class="dropdown-item" href="{% url 'wedding_international' %}"><b>International</b></a>
                                <a class="dropdown-item" href="{% url 'wedding_bali' %}">Bali</a>
                                <a class="dropdown-item" href="{% url 'wedding_dubai' %}">Dubai</a>
                                <a class="dropdown-item" href="{% url 'wedding_malaysia' %}">Malaysia</a>
                                <a class="dropdown-item" href="#">Sri Lanka</a>
                                <a class="dropdown-item" href="#">Thailand</a>
                            </div>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_contacts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contacts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Contact Us</a>
                            <a class="dropdown-item" href="#">Mumbai</a>
                            <a class="dropdown-item" href="#">Hyderabad</a>
                        </div>
                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_MCtours&travels" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MC Tours & Travels
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'enquiry_form' %}">Enquiry Form</a>
                            <a class="dropdown-item" href="#"> Trip Creation</a>
                            <a class="dropdown-item" href="#">Vehicle Allotment</a>
                            <a class="dropdown-item" href="#">Trip Rate Calculation</a>
                            <a class="dropdown-item" href="#">Customer Master</a>
                            <a class="dropdown-item" href="#"> Vehicle Master</a>
                            <a class="dropdown-item" href="#">Vendor Master</a>
                            <a class="dropdown-item" href="#"> Billing</a>
                            <a class="dropdown-item" href="#">AR</a>
                            <a class="dropdown-item" href="#">Fleet Management </a>
                            <a class="dropdown-item" href="#">Repairs & Maintenance</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


{% block content %}

{% endblock content %}
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<!--Export Datatable-->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<!--Checkbox-->
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

<!--Date format-->
<script src="https://cdn.datatables.net/plug-ins/1.13.6/dataRender/datetime.js"></script>

</body>
</html>
<style>
.dropdown-item:hover {
        background-color: #BF0005;
        color: white; /* Optional: to ensure text remains readable */
    }
.nav-item dropdown a{
    color: white;  /* Change this color to set the font color of the navbar brand/header */
    font-size: 24px;
    text-decoration: none;
   }

</style>