{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="container-fluid">
			<div class="container-fluid">
				<img src="/media/cruise.png" width="1400" height="400"/>
				<h1 style="color:blue;">Cordelia Cruises Packages in India</h1>
                <p style="color:black">How does the idea of “waking up to a new destination everyday” sound to you? Apparently, the imagination itself creates goosebumps of excitement for all of us.<br/><br/>
                What if we tell you that you can experience the voyage of the breathtaking Indian Ocean with Cordelia Cruises? Well, it sounds great. Isn’t it? The cruise tour will be launched in some fantastic destinations, like, Goa, Andaman, Kochi, Mumbai, Ganapatipule, Diu, and many other seaboard destinations. Cordelia Cruises is all set to serve you with the mesmerizing beauty of the Indian coastline. Click here to view all Cordelia Cruise Packages.</p>
				<br/><br/>
				<h1 style="color:blue;">A journey of Empress Of The Seas</h1>
				<img src="/media/cruise_1.png" height="300" width="600" align="right"/>
				<p style="color:black;">Let’s have a quick tour of the Empress of the Seas. Empress of the Seas is a cruise recently owned by India’s famous organization, <b>Cordelia Cruises.</b><br/>

                                Empress of the seas is not less than a dream come true. Watching this charming cruise is thrilling for each soul. You would definitely fall in love with its beauty and charm.<br/>

                                When you are on board, you will feel the enthusiasm and elegance within you. There is no limit to the trill that Empress of seas offers you with great meals, stunning activities, and live concerts. Nothing can stop you from enjoying it.<br/>
					            It serves in India’s elegant ports, such as Chennai, Kochi, Mumbai, Vizag, Mormugao, Lakshadweep, along with the international coast, Sri Lanka.
				                <br/>Based on the video footage and photos, it is seen that the Empress has a massive logo of <mark>‘Cordelia Cruises’ </mark>on its hull. You will see the Empress of the sea capturing the Indian ocean in the upcoming months.
					Empress will give you a lot of memories that you would not manage to forget quickly. Empress will not fail in impressing you at any point. You will witness the eye-catching sunset to the beautiful sunrise while on the cruise tour.<br/>
					The Empress of the ship was first ruled by Admiral Cruises and then by the Royal Caribbean International. It entered into the seawater in 1990 as Nordic Express, which was later renamed as the Empress of seas by the Royal Caribbean International.<br/>
					After roaming through the San Juan, Bahamas, Puerto Rico, Bermuda route, and South America, the Empress is now ready to cruise the Indian East and West ports, under the direction of Indian Cruise Liners, Cordelia Cruises by Waterways Tourism Pvt Ltd.</p><br/>
				 <h1 style="color:blue;">Everything You want to know about the Empress Of The Seas</h1>
                 <h3 style="color:blue;">Technical Details of the Ship</h3>
				<img src="/media/Cruise_2.jpg" height="300" width="600" align="right"/>
				<p style="color:DarkGoldenRod;"><ul><li>Type: Empress-class cruise ship</li>
				<li>Capacity: 1,840</li>
				<li>Speed: 19.5 knots (36.1 km/h; 22.4 mph)</li>
				<li>Installed power: 2 × Wärtsilä-Duvant Crespelle diesel combined 16,200 kW</li>
				<li>Tonnage: 48,563 GT / 5,344 DWT</li>
				<li>Length: 210.81 m (691.63 ft)</li>
				<li>Beam: 30.70 m (100.72 ft)</li>
				<li>Decks: 11 Passenger Decks</li></ul>
				<h1 style="color:blue;">A journey of Empress Of The Seas</h1>
				<p style="color:black;">Let’s have a quick tour of the Empress of the Seas. Empress of the Seas is a cruise recently owned by India’s famous organization, Cordelia Cruises.<br/>
				Empress of the seas is not less than a dream come true. Watching this charming cruise is thrilling for each soul. You would definitely fall in love with its beauty and charm.<br/>
				When you are on board, you will feel the enthusiasm and elegance within you. There is no limit to the trill that Empress of seas offers you with great meals, stunning activities, and live concerts. Nothing can stop you from enjoying it.It serves in India’s elegant ports, such as Chennai, Kochi, Mumbai, Vizag, Mormugao, Lakshadweep, along with the international coast, Sri Lanka.<br/>
				Based on the video footage and photos, it is seen that the Empress has a massive logo of ‘Cordelia Cruises’ on its hull. You will see the Empress of the sea capturing the Indian ocean in the upcoming months.<br/>
				Empress will give you a lot of memories that you would not manage to forget quickly. Empress will not fail in impressing you at any point. You will witness the eye-catching sunset to the beautiful sunrise while on the cruise tour.<br/>After roaming through the San Juan, Bahamas, Puerto Rico, Bermuda route, and South America, the Empress is now ready to cruise the Indian East and West ports, under the direction of Indian Cruise Liners, Cordelia Cruises by Waterways Tourism Pvt Ltd.</p>
				<h1 style="color:blue;">What will you get when you are onboard?</h1>
				<p style="color:black;">Well, you can wake up in the middle of the ocean and enjoy its freshness and rhythmic music. No doubt, Empress of the seas is the most luxurious cruise in India. You will be astonished by its onboard accommodations, delicious food, and a refreshing experience.</p>
				<h3>Why is Empress of the Seas best among other cruises?</h3>
				<p style="color:black;">We knew that you would have this question. Here is the solution for why Cordelia Cruise’s Empress of the Seas is the best among another huge cruise: –</p>
				 <img src="/media/Cruise_3.jpg" height="300" width="600" align="right"/>
				<ul>
					<li>Excellent Food – 3 Special Restaurants</li>
					<li>Indian & International cuisines</li>
					<li>5 Bars and various party zones</li>
					<li>Fitness Centre</li>
					<li>Spa & Salon</li>
					<li>Casino in international waters</li>
					<li>Live Bands and DJ Parties</li>
					<li>Adventure activities</li>
					<li>Theatre</li>
					<li>Swimming Pool</li>
					<li>Nightclub and Lounges</li>
					<li>Luxury cruise experience</li>
					<li>Non-stop Entertainment</li>
					<li>Shopping</li>
					<li>Discos and Party Places</li>
					<li>Broadway-themed halls with world-class musicians, comedians, and dancers</li>

				</ul>
				<h3>1) Inclusive Services</h3><br/>
				<ul>
					<li><b>Variety of Food:</b><p style="color:black;">Empress offers various dining options onboard, such as Continental, oriental, Mughlai, and even Indian street food. You will enjoy Southeast Asia’s taste onboard with our oriental restaurant calling attention from Japan’s flavors to Thailand. Either, you can enjoy the elegant dishes made by our talented chefs. Even if you want some quick plates, we have a food plaza for you, where you will have pizzas, tandoors, grills, and Indian street food. Moreover, we have a special place for Jain food to make you feel delightful while maintaining your diet.</p></li>
					<li><b>Homeliness: </b> Housing for you that will make you feel homely and luxurious.</li>
					<li><b>Sun- Soaked Pool Fun: </b>Nothing can be greater than starting the day diving into the pool. Pool time, not only cheer up kids, but the adults also love it. So, spend your time at the pool area, along with your kids.</li>
				<li><b>Adventurous Activities: </b>Adventure on the ship! Sounds great. You will explore rock-climbing wall facilities onboard for thrill lovers with many compelling activities.</li>
				<li><b>Casinos:</b>Casinos will be open for everyone, free of cost.</li>
				<li><b>The Party Place: </b>Can’t imagine the thrill of the party in the middle of the ocean? Then, experience it with us. We have The Dome for you to make your trip unforgettable.</li>
				<li><b>Food that your child will love to have:</b>It’s so boring to have the usual food on a tour. Isn’t it? Thus, the cruise company has hired skillful chefs for you to take care of your desires by cooking international cuisines. Family dining is definitely an inevitable culture of India; therefore, the staff looks after every minor aspect.</li>
				<li><b>Exclusive Reading Zone:</b>A long journey along with a quiet and calm environment is the perfect scenery to read books. Cruise has special reading zones for the book lovers at Empress, which has an inspiring books collection.</li>
				<li><b>Fitness spot:</b>You’ll have access to the gym and fitness centers.</li>
				<li><b>Entertainment: </b>Entertainment facilities, in the form of live music shows and stand-up comedy.</li></ul>
				<h3>2) Exclusive services</h3>
				<img src="/media/cruise_4.png" height="300" width="600" align="right"/>
				<ul>
					<li>A place with a seating capacity of 740 guests is made. You will experience the glamor and fashion of beauty shows onboard by world-class performers.</li>
					<li>Glow while on holiday with our Spa and Salon service. Being on holiday, you need to be more pampered. So, we have arrangements for you to glow with our spa therapist and salon services. You can also book an appointment with them, for the wedding or other occasions.</li>
					<li>If you wish to watch the additional entertainment shows from our performer artist, you will have to book the show.</li>
					<li>Shopping! No matter where we are, shopping makes us happy. Steal a little time from your cruise holiday, and visit the shopping center onboard.</li>
				</ul>
				<h1 style="color:blue;">Onboarding price on Cordelia Cruises</h1>
				<p style="color:black;">If you were eagerly waiting for a fun family holiday, this is the best time for it. Surprise your family with a holiday plan like never before. Take them to a new world of amusement on the cruise.</p>
				<p style="color:black;">We assure you that these bunches of amazing provisions by Cordelia cruise will be one of your most comfortable journeys. Wait, are you pondering upon the Cordelia Cruise prices?</p>
				<p style="color:black;">Well, you are thinking in the right place. However, luxury is not so cheap. But, you will be happy to know that the price for the tour will not put so much of a burden on your pocket. The Empress is offering so many facilities to you, for which the fare, for your tour, is justifying. Also, the price depends on your boarding and destination point, which may differ.</p>
				<p style="color:black;">So, if you are also willing to spend some quality time with your family and loved ones and want them to enjoy leaving the pandemic situation behind, do book the tour. This journey will be unforgettable for you and your family.</p>
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock content %}