{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="container-fluid">
			<img src="/media/cruise/cruise.png"  width="1400" height="400"/><br>
			<h1>Cordelia Cruises Packages in India</h1> <p>Imagine waking up to a new destination every day—just the thought is enough to give you goosebumps of excitement!<br/><br/> Now, what if we told you that you could embark on a breathtaking voyage across the Indian Ocean with Cordelia Cruises? Sounds amazing, right? This incredible cruise experience will take you to stunning destinations like Goa, the Andaman Islands, Kochi, Mumbai, Ganapatipule, Diu, and many other scenic coastal spots. Cordelia Cruises is ready to unveil the mesmerizing beauty of the Indian coastline just for you. <a href="#">Click here</a> to view all Cordelia Cruise Packages.</p> <br/><br/>
			<h1>A journey of Empress Of The Seas</h1>
			<img src="/media/cruise/cruise_1.png" height="300" width="600" align="right"/>
			<p>Take a quick tour of the **Empress of the Seas**, a magnificent cruise ship now owned by India’s renowned organization, **Cordelia Cruises**.<br/><br/>
				The Empress of the Seas is truly a dream come true. Its beauty and charm are bound to captivate anyone who sets eyes on it. When you step on board, you'll immediately feel the excitement and elegance that this cruise embodies. The Empress offers an unparalleled experience with exceptional dining, thrilling activities, and live concerts—ensuring there's never a dull moment.<br/><br/>

				This stunning ship serves some of India’s most beautiful ports, including Chennai, Kochi, Mumbai, Vizag, Mormugao, and Lakshadweep, as well as international destinations like Sri Lanka. The ship proudly displays the massive ‘Cordelia Cruises’ logo on its hull, making it a true icon as it prepares to sail the Indian Ocean in the coming months.<br/><br/>

				A journey aboard the Empress will create unforgettable memories, from witnessing breathtaking sunsets to watching the sun rise over the horizon. This ship, originally launched as the Nordic Express by Admiral Cruises in 1990 and later renamed the Empress of the Seas by Royal Caribbean International, has a rich history. After navigating routes through San Juan, the Bahamas, Puerto Rico, Bermuda, and South America, the Empress is now set to cruise India’s East and West coasts under the management of Cordelia Cruises by Waterways Tourism Pvt Ltd.</p><br/>

			<h1>Everything You Need to Know About the Empress of the Seas</h1>
			<h3>Technical Specifications of the Ship</h3>
			<img src="/media/cruise/Cruise_2.jpg" height="300" width="600" align="right"/>
			<ul>
				<li><strong>Type:</strong> Empress-class cruise ship</li>
				<li><strong>Capacity:</strong> 1,840 passengers</li>
				<li><strong>Speed:</strong> 19.5 knots (36.1 km/h; 22.4 mph)</li>
				<li><strong>Installed Power:</strong> 2 × Wärtsilä-Duvant Crespelle diesel engines, combined 16,200 kW</li>
				<li><strong>Tonnage:</strong> 48,563 GT / 5,344 DWT</li>
				<li><strong>Length:</strong> 210.81 m (691.63 ft)</li>
				<li><strong>Beam:</strong> 30.70 m (100.72 ft)</li>
				<li><strong>Decks:</strong> 11 passenger decks</li> </ul>

			<h1>The Journey of the Empress of the Seas</h1>
			<p>Take a quick tour of the **Empress of the Seas**, a magnificent cruise ship now proudly owned by India’s renowned organization, **Cordelia Cruises**.<br/><br/>
				The Empress of the Seas is nothing short of a dream come true. Its stunning beauty is bound to captivate everyone who lays eyes on it, and you’re sure to fall in love with its charm. Once on board, you'll be swept up in the excitement and elegance that this cruise exudes. The Empress offers an endless array of thrills, from exquisite dining and breathtaking activities to live concerts that keep the excitement alive. There’s truly no limit to the enjoyment you'll find here.<br/><br/>

				The Empress serves some of India’s most picturesque ports, including Chennai, Kochi, Mumbai, Vizag, Mormugao, and Lakshadweep, as well as the international coastline of Sri Lanka. The ship proudly displays the massive ‘Cordelia Cruises’ logo on its hull, a testament to its new identity as it prepares to set sail across the Indian Ocean in the coming months.<br/><br/>

				A journey aboard the Empress promises unforgettable memories, from witnessing breathtaking sunsets to experiencing beautiful sunrises on the horizon. Originally launched as the Nordic Express by Admiral Cruises in 1990, and later renamed the Empress of the Seas by Royal Caribbean International, this ship has a rich and storied history. After navigating the San Juan, Bahamas, Puerto Rico, Bermuda, and South American routes, the Empress is now set to cruise the Indian East and West coasts under the management of Cordelia Cruises by Waterways Tourism Pvt Ltd.</p>


			<h1>What Can You Expect Onboard?</h1> <p>Imagine waking up in the heart of the ocean, surrounded by its invigorating freshness and the soothing rhythm of the waves. The Empress of the Seas is truly the epitome of luxury cruising in India. You'll be amazed by the elegant onboard accommodations, delectable cuisine, and the rejuvenating experience that awaits you.</p>
			<h3>Why Is the Empress of the Seas the Best Among Cruises?</h3>
			<p>It’s a question that naturally comes to mind, and we’re here to answer it. Here’s why Cordelia Cruise’s Empress of the Seas stands out as the best among other grand cruises: –</p>
			<img src="/media/cruise/Cruise_3.jpg" height="300" width="600" align="right"/>
			<ul> <li>Exceptional Dining – 3 Specialty Restaurants</li>
				<li>Indian & International Cuisines</li>
				<li>5 Bars and Various Party Zones</li>
				<li>Fitness Centre</li>
				<li>Spa & Salon</li>
				<li>Casino in International Waters</li>
				<li>Live Bands and DJ Parties</li>
				<li>Adventure Activities</li>
				<li>Theatre</li> <li>Swimming Pool</li>
				<li>Nightclub and Lounges</li>
				<li>Luxurious Cruise Experience</li>
				<li>Non-stop Entertainment</li>
				<li>Shopping</li>
				<li>Discos and Party Venues</li>
				<li>Broadway-Themed Halls with World-Class Musicians, Comedians, and Dancers</li>
			</ul>



			<h2>1) Inclusive Services</h2><br/>
			<ul>
				<li><b>Variety of Food:</b>
					<p>The Empress offers a diverse range of dining options, including Continental, Oriental, Mughlai, and Indian street food. Enjoy the flavors of Southeast Asia at our Oriental restaurant, featuring dishes from Japan to Thailand. For quick bites, visit our food plaza for pizzas, tandoors, grills, and more. We also have a dedicated section for Jain food, ensuring a delightful experience that aligns with your dietary preferences.</p></li>
				<li><b>Homeliness:</b> <p>Experience luxurious accommodations designed to make you feel right at home.</p></li>
				<li><b>Sun-Soaked Pool Fun:</b>
					<p>Start your day with a refreshing dive into the pool. Pool time is a joy for both kids and adults, so make the most of our pool area with your family.</p></li>
				<li><b>Adventurous Activities:</b> <p>For adventure enthusiasts, the ship offers exciting activities including a rock-climbing wall and other thrilling options.</p></li>
				<li><b>Casinos:</b>
					<p>Our onboard casinos are open to everyone at no extra cost.</p></li>
				<li><b>The Party Place:</b>
					<p>Experience the excitement of a party in the middle of the ocean at The Dome, making your trip truly unforgettable.</p></li>
				<li><b>Child-Friendly Food:</b> <p>Say goodbye to boring meals. Our skilled chefs prepare international cuisines that will delight your children. Family dining is a treasured tradition, and our staff ensures every detail is taken care of.</p></li>
				<li><b>Exclusive Reading Zone:</b> <p>Enjoy a peaceful reading environment with our special reading zones, featuring an inspiring collection of books.</p></li>
				<li><b>Fitness Spot:</b> <p>Stay fit with access to our gym and fitness centers.</p></li>
				<li><b>Entertainment:</b> <p>Enjoy a variety of entertainment options, including live music shows and stand-up comedy performances.</p></li>
			</ul>
			<h2>2) Exclusive services</h2>
			<img src="/media/cruise/cruise_4.png" height="300" width="600" align="right"/>
			<ul>
				<li>Enjoy world-class beauty shows in our venue with a seating capacity of 740 guests. Experience the glamour and fashion of stunning performances by top-tier artists onboard.</li>
				<li>Indulge in ultimate relaxation with our Spa and Salon services. Whether you want to unwind or prepare for a special occasion, our spa therapists and salon professionals are here to pamper you. You can even book appointments for weddings or other events.</li>
				<li>For additional entertainment shows featuring our talented performers, please make sure to book in advance.</li> <li>Shopping is always a delight, no matter where you are. Take some time during your cruise to visit our onboard shopping center and pick up something special.</li>
			</ul>

			<h1>Pricing for Cordelia Cruises</h1>
			<p>If you’ve been dreaming of a fun family getaway, now is the perfect time to make it happen. Surprise your loved ones with a unique holiday experience aboard a Cordelia Cruise.</p>
			<p>We assure you that Cordelia Cruises offers exceptional value for a comfortable and memorable journey. Wondering about the prices?</p>
			<p>While luxury cruises aren’t typically cheap, you’ll be pleased to know that the cost of traveling on the Empress is quite reasonable given the extensive amenities provided. Pricing varies based on your boarding location and destination, so there may be some differences.</p>
			<p>If you’re ready to create lasting memories with your family and leave the pandemic behind, don’t hesitate to book your tour. This journey promises to be an unforgettable experience for you and your loved ones.</p>
		</div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock content %}