{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}

<button class="btn btn-primary fs-2" data-bs-target="#exampleModal" data-bs-toggle="modal" data-bs-whatever="@mdo" style="background:#ff0000;font-family:Times New Roman,Time,serif;border:none;" type="button">Enquiry Form</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #ff0000;color:white;">
                <h5 class="modal-title" id="exampleModalLabel">Enquiry Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="registration_add">
                    {% csrf_token %}
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name:</span>
                        </div>
                        {% render_field reg_form.reg_name id="reg_name" class="form-control" %}
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">City</span>
                        </div>
                    {% render_field reg_form.reg_city id="reg_city" class="form-control" %}
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone:</span>
                        </div>
                        {% render_field reg_form.reg_phone id="reg_phone" class="form-control" %}
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">E-Mail ID:</span>
                        </div>
                        {% render_field reg_form.reg_mail id="reg_mail" class="form-control" %}
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Destination:</span>
                        </div>
                        {% render_field reg_form.reg_destination id="reg_destination" class="form-control" %}
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Message:</span>
                        </div>
                        {% render_field reg_form.message id="message" class="form-control" %}
                    </div>
                    <button type="submit" style="background:#ff0000;"  class="btn btn-primary fs-5">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}