{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid" style="background-image:url('/media/img1.jpg');background-repeat:no-repeat;background-size:cover;height:550px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:202px;color:white;font-family:Times New Roman,Time,serif;font-size:50px;">India Honeymoon packages </h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px;padding_left:30px;">
    <p style="color:black;font-size:20px;font-family:Times New Roman,Times,serif;">11 Tours Found</p>
    <div class="row row-col-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img2.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Goa</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Golden Sands Honeymoon Package</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">3 Nights 4 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img3.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Munnar, Thekkady</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Fun-Filled Munnar Thekkady Tour</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img4.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Delhi, Shimla, Leisure, Kufri</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Explore Shimla Tour</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img5.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Leh, Ladakh</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Romantic Ladakh Tour</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

    </div>
</div>







<div class="container-fluid" style="padding-top:50px;padding_left:30px;">
    <div class="row row-col-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img8.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Srinagar, Pahalgam, Gulmarg</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Heaven on Earth Package</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img9.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Delhi, Jim Corbett, Nainital, Mussoorie</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Glimpses of Kashmir</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img10.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Delhi, Jaipur, Udaipur, Mount Abu</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Romantic Jaipur Delight</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img11.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Cochin, Munnar, Kumarakom, Alleppey</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Kerala Lovers Paradise</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

    </div>
</div>






<div class="container-fluid" style="padding-top:50px;padding_left:30px;">
    <div class="row row-col-4">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img12.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Bagdogra, Gangtok, Darjeeling</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Honeymoon in Himalayas</p><a><br></a>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col-3">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img6.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Delhi, Manali, Rohtang Pass, Kullu</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Romantic Himachal</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

         <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="#"><img src="/media/img13.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p style="font-family:Times New Roman,Time,serif;color:gray;"><i style='font-size:12px' class='fas'>&#xf3c5; </i> Port Blair, Baratang Island, Havelock Island</p>
                        <a href="#"><p class="card-text" style="font-family:Times New Roman,Time,serif;color:black;">Magical Andaman Islands</p></a><br>
                        <p style="font-family:Times New Roman,Time,serif;color:orange;">4 Nights 5 Days</p>
                    </div>
            </div>
        </div>

    </div>
</div>






{% endblock content %}