{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Jaisalmer Destination Wedding </h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}" class="active">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1>The Perfect Beginning to Forever - Jaisalmer Destination Wedding Packages</h1>
                    <p>Jaisalmer, often called the ‘Golden City of India,’ is a mesmerizing desert oasis known for its breathtaking sand dunes, majestic havelis, ancient temples, and vibrant markets. This enchanting city is a top choice for couples seeking a dream wedding, thanks to its regal venues and royal charm.</p>

                    <p>With its opulent palaces and traditional grandeur, Jaisalmer offers some of the most enchanting wedding locations in India. If you’re looking to celebrate your special day in a setting that combines elegance with the allure of the desert, our Jaisalmer Destination Wedding Package is designed to make your vision come true.</p>
                    <h1>Tips for a Destination Wedding in Jaisalmer</h1>
                    <p>Planning a wedding in Jaisalmer can be a magical experience, but the city's hot climate requires careful consideration. To avoid the discomfort of sweltering heat, especially when dressed in heavy wedding attire, choose a wedding date closer to winter. This will allow you to enjoy Jaisalmer's stunning scenery and unique charm without the heat becoming a distraction.</p>

                    <h1>Cost of Jaisalmer Destination Wedding Package</h1>
                    <p>Jaisalmer, known for its majestic palaces, can be a luxurious choice for a wedding. The cost for a Jaisalmer destination wedding typically ranges from INR 25,00,000 to INR 1,00,00,000 or more. However, it’s possible to plan a beautiful wedding within a more modest budget of INR 25,00,000 to INR 30,00,000, thanks to a variety of splendid options that fit different financial plans.</p>

                    <h1>Which Part of Jaisalmer is Best for a Destination Wedding?</h1>
                    <p>Jaisalmer, with its regal charm, offers a stunning setting for a destination wedding. The entire city exudes a magical ambiance, ensuring breathtaking views and exceptional experiences no matter where you choose. For an unforgettable wedding experience, consider locations like the Sam Sand Dunes, Sarovar Poolside, and Bageecha Lawns for a more traditional setting. For a luxurious affair, the Suryagarh, Jawahar Niwaas, Narayan Niwas, Gorbandh Palace, and Fort Rajwada are top choices that provide opulence and grandeur.</p>

                    <h1>What are Some of the Best Places for a Destination Wedding in Jaisalmer?</h1>
                    <p>The Golden City of Jaisalmer is renowned for its magnificent palaces and forts, making it an ideal backdrop for a royal wedding. If you’re dreaming of a wedding fit for royalty, here are some of the best venues in Jaisalmer:</p>


                    <ul>
                        <li><b>Suryagarh: </b>An epitome of grandeur, Suryagarh offers a perfect blend of opulence and elegance. This luxurious venue features a variety of settings, including gardens, courtyards, terraces, and banquet halls, allowing you to celebrate each wedding function in a unique atmosphere. Prepare to experience the ultimate royal treatment at this exquisite destination.</li>

                        <li><b>Fort Rajwada: </b>Known for its charm and sophistication, Fort Rajwada is ideal for hosting an extravagant reception or celebratory event. This venue combines beauty with affordability, ensuring a splendid wedding experience without breaking the bank.</li>

                        <li><b>Rang Mahal:</b> Perfect for a large Indian wedding, Rang Mahal provides a spacious and luxurious setting with state-of-the-art facilities. Its expansive areas are designed to accommodate a grand wedding party, making it an excellent choice for a vibrant and opulent celebration.</li>
                        <li><b>Jawahar Niwaas:</b> Offers a blend of traditional charm and modern luxury.</li>
                        <li><b>Narayan Niwas: </b>A historic venue with exquisite décor and regal elegance.</li>
                        <li><b>Gorbandh Palace:</b> Combines grandeur with a picturesque setting.   </li>
                    </ul>
                    <h1>Top Resorts for Your Wedding Ceremony in Jaisalmer</h1>
                    <p>Jaisalmer, with its enchanting allure and historical charm, is a top choice for couples planning their wedding. Here are some of the best resorts in Jaisalmer for a memorable wedding ceremony:</p>
                    <ul>
                        <li><b>Desert Tulip Hotel & Resort:</b> Nestled in the heart of the Thar Desert, this splendid hotel combines culture, elegance, and heritage. With 64 rooms, it offers a regal wedding experience while being budget-friendly.</li>
                        <li><b>Jaisalmer Marriott Resort & Spa:</b> Featuring 135 rooms and two dedicated wedding venues, this resort is perfect for couples seeking luxury amidst a palatial setting.</li>
                        <li><b>Gorbandh Palace:</b> Known for its four picturesque wedding venues set in lush surroundings, Gorbandh Palace is ideal for couples wanting a magical open-air wedding under the stars.</li>
                    </ul>
                    <p>Jaisalmer is a captivating destination that can seamlessly serve as a wedding, honeymoon, and vacation spot. If you want to intertwine this historic gem with your personal story, our Jaisalmer Destination Wedding Package is the perfect choice. Let us help make your special day even more unforgettable!</p>
                    <h1>FAQs</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the ideal Time to have a wedding in Jaisalmer?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The ideal time to get married in Jaisalmer is between November and March. During these months, the weather is pleasantly cool, adding to the charm and comfort of your wedding experience.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the cost of Destination Wedding in Jaisalmer?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    As a renowned tourist destination with some of the world's most exquisite venues, a lavish destination wedding in Jaisalmer can range from INR 25,00,000 to INR 1,00,00,000 or more. However, if you're planning a wedding on a budget, you can expect costs to be approximately INR 25,00,000 to INR 30,00,000.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What are the steps to plan a Destination Wedding in Jaisalmer?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Planning a destination wedding can be challenging, especially in an unfamiliar city. Why not leave the details to us while you focus on enjoying one of the most beautiful moments of your life?  </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The cost of an all-inclusive destination wedding varies based on factors such as the number of guests, the venue, and additional expenses. On average, you can expect it to range from INR 20,00,000 to INR 1,00,00,000 or more.
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you cover the costs for guests at Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    While it's common for hosts to cover the costs for their guests at destination weddings, it's perfectly acceptable if you choose not to or are unable to. Your preferences should guide your decisions in this regard.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the process of booking a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    To book a venue or resort, you can either visit their official website or call them directly to request availability. In today’s digital age, booking through the website is often the preferred method for convenience and efficiency.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you handle only weddings, or do you organize other types of events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We organize Weddings and Honeymoons, and other events depending on the needs and circumstances.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}