{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Kerala Destination Wedding </h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid">
                <div class="col-3 sidebar shadow">
                    <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}" class="active">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1>Kerala Destination Wedding Packages: A Perfect Beginning</h1>
                    <p>A wedding is one of the most cherished moments in life, something everyone hopes to hold dear forever. That’s why your most special day deserves nothing less than perfection. Imagine celebrating this occasion surrounded by loved ones who genuinely care about you and share in your joy. Why not make this dream a reality with our Kerala Destination Wedding Packages? These packages are designed to fulfill every aspect of your wedding checklist, ensuring a memorable start to your new journey together.</p>
                    <h1>Tips for Planning a Destination Wedding in Kerala</h1>

                    <p>When planning a destination wedding in Kerala, timing is crucial. Although Kerala enjoys pleasant weather year-round, the period between October and March is ideal for a romantic wedding. Here are some tips to ensure your wedding in Kerala is as perfect as you’ve imagined:</p>

                    <p><b>1. Choose the Right Season: </b>The months from October to March offer the most favorable weather conditions, making it the best time for an outdoor wedding.<br>

                        <b>2. Venue Selection: </b>Kerala is known for its diverse landscapes, from beachside resorts to hilltop venues and backwater locations. Choose a venue that aligns with your vision for the big day.<br>

                        <b>3. Local Traditions:</b> Incorporate local customs and traditions into your wedding to make it more authentic and memorable.<br>

                        <b>4. Vendor Coordination: </b>Engage local vendors who are familiar with the area and can provide you with the best services, including catering, decor, and entertainment.<br>

                        <b>5. Guest Accommodation: </b>Ensure your guests are comfortably accommodated near the wedding venue. Kerala offers a range of options, from luxury resorts to cozy homestays.<br>

                        <b>6. Travel Arrangements: </b>Plan for transportation to and from the venue for your guests, especially if the location is remote or requires travel by boat, which is common in backwater regions.<br>

                        <b>7. Permits and Legalities: </b>Check for any necessary permits, especially if you're planning a beach or outdoor wedding, and ensure all legal requirements are met.<br>

                        These tips will help you create a seamless and unforgettable destination wedding in the beautiful state of Kerala.</p>
                    <h1>What is the Cost of a Kerala Destination Wedding Package?</h1>
                    <p>The cost of a destination wedding in Kerala can vary significantly based on factors like the style of the wedding, the timing, and your budget preferences. On average, you can expect the cost to range between INR 2,50,000 to INR 20,00,000. This range offers flexibility for different types of weddings, whether it's an intimate gathering or a grand celebration. Compared to typical big Indian weddings, these prices are quite reasonable, making Kerala a popular choice for couples looking to have a memorable wedding experience.</p>
                    <h1>Which Part of Kerala is Best for a Destination Wedding?</h1>
                    <p>In "God’s Own Country," Kerala offers an array of stunning locations where you can host your dream wedding and turn your fairy tale into reality. Here are some of the top spots to consider:</p>

                    <ul>
                        <li><b>Alleppey:</b> Renowned for its serene backwaters and spacious houseboats, Alleppey is a dream wedding destination. You can hold one or all of your wedding ceremonies on a houseboat, surrounded by natural beauty that will make your special day even more magical.<br></li>

                        <li><b>Kovalam: </b>If a beach wedding is what you envision, Kovalam's pristine beaches are the perfect setting. The shimmering waters and golden sands provide a breathtaking backdrop for the beginning of your new life together.<br></li>

                        <li><b>Munnar: </b>This picturesque hill station, nestled amidst lush greenery, majestic waterfalls, and cool mountain breezes, offers an incredibly romantic atmosphere. Munnar’s scenic landscapes provide the ideal backdrop for a wedding filled with unforgettable memories.<br></li>
                    </ul>

                    <h2> Best beaches for Destination Wedding in Kerala?</h2>
                    <p>Getting married on a beach, feeling the sea breeze, and being surrounded by your loved ones is a dream for many. Here are some top beach destinations in Kerala for a perfect destination wedding:</p>
                    <ul>
                        <li><b>The Leela Kovalam (Trivandrum) – </b>Imagine starting your wedding day with breathtaking views of the Arabian Sea from a luxurious cliff-top venue. The Leela Kovalam offers stunning vistas, upscale accommodations, and a vibrant atmosphere, making it an ideal place to say ‘I do.’</li>

                        <li><b>Marari Beach Resort (Alleppey) – </b>If you desire a blend of natural beauty and luxury, Marari Beach Resort is perfect. With its individual pools and charming thatched roof cottages, this resort provides a serene and authentic beach experience.</li>

                        <li><b>Turtle On the Beach (Thiruvananthapuram) –</b> Combining a unique Japanese aesthetic with luxury, Turtle On the Beach offers a grand and distinctive setting for your wedding. Its luxurious amenities and distinctive design make it a standout choice for couples seeking a memorable celebration.</li>
                    </ul>

                    <h2>What are some of the best resorts to stay in Kerala for wedding ceremony?</h2>
                    <p>Kerala’s natural beauty is celebrated by both locals and visitors, making it a dream destination for weddings. Here are some of the best resorts in Kerala for a wedding ceremony:</p>

                    <ul>
                        <li><b>Kumarakom Lake Resort –</b> This opulent five-star resort offers a royal experience with its stunning villas and picturesque surroundings. The spacious layout makes it an excellent choice for hosting a grand wedding ceremony.<br></li>

                        <li><b>Estuary Island Resort –</b> Located on the shores of Poovar Island Beach, this four-star resort provides breathtaking views of both the beach and the backwaters. It’s an ideal setting for a destination wedding.<br></li>

                        <li><b>Ramada Resort – </b>Overlooking the serene backwaters of Alleppey, this five-star resort is renowned for its modern infrastructure and facilities. Its beauty and elegance make it a perfect venue for your wedding celebration.<br></li>
                    </ul>
                    <p>This enchanting region in southern India is truly a paradise and offers an ideal setting to celebrate the start of your new life. If you’re considering a wedding in Kerala, our Kerala Destination Wedding Packages are designed to help you create your perfect day.</p>
                    <h1>FAQs</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the cost of a destination wedding in Kerala?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The cost of a destination wedding in Kerala varies widely based on factors such as the venue, guest count, and the level of opulence you desire. On average, prices start at around INR 2,50,000 and can exceed INR 20,00,000 depending on your preferences.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the ideal time to have a wedding in Kerala?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Kerala's stunning beauty and pleasant weather make it a wonderful destination for weddings year-round. However, the best time to get married in Kerala is between October and March, when the weather is ideal for both outdoor and indoor celebrations.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What are the steps to plan a destination wedding in Kerala?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    First, choose the time of year for your wedding, as Kerala enjoys pleasant weather throughout. Next, you can either hire a wedding planner to handle all the details or plan the event yourself according to your preferences and style.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the cost of an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The cost of an all-inclusive destination wedding varies significantly depending on factors such as the time of year and the choices made by the client. On average, it can range from INR 2,50,000 to INR 20,00,000 or more.
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you cover the costs for guests at a destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Whether or not you cover the costs for your guests at a destination wedding is entirely up to you. While it is common for hosts to cover these expenses, especially for destination weddings, it is not a requirement.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the process for booking a venue or resort for a destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    To book a venue or resort for a destination wedding, start by contacting the venue to check its availability on your preferred date and inquire about additional services. Once all details are confirmed, you can proceed with the booking. Alternatively, you can hire a professional to handle the booking process for you.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you organize only Weddings or other Events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We specialize in organizing weddings, honeymoons, and other events tailored to your specific needs and circumstances.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:50px;">
    <div class="carousel-container">
        <div class="carousel">
            <div class="card" style="background-image:url('/media/wedding/goa2_card.png');background-size:cover;">
                <a href="{% url 'wedding_goa' %}">
                    <div class="card-content">
                        <span><b>Goa</b></span>
                    </div>
                </a>
            </div>
            <div class="card"  style="background-image:url('/media/wedding/jaipur1_card.png');background-size:cover;">
                <a href="{% url 'wedding_jaipur' %}">
                    <div class="card-content">
                        <span><b>Jaipur</b></span>
                    </div>
                </a>
            </div>
            <div class="card"  style="background-image:url('/media/wedding/jaisalmer2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>Jaisalmer</b></span>
                    </div>
                </a>
            </div>
            <div class="card"  style="background-image:url('/media/wedding/jodpur2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>Jodhpur</b></span>
                    </div>

                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/kerala3_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>kerala</b></span>
                    </div>
                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/udaipur2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>Udaipur</b></span>
                    </div>

                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/adaman2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>Andaman</b></span>
                    </div>
                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/agra2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">

                        <span><b>Agra</b></span>
                    </div>
                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/india2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>India</b></span>
                    </div>

                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/international2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>International</b></span>
                    </div>

                </a>
            </div>
        </div>
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
</div>



<style>

    .carousel-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .card {
        min-width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin: 0 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: 1.5em;
        line-height: 1.2em;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: 10px;
        color: white;
        padding: 20px;
        cursor: pointer;
        border-radius: 100%;
        font-size: 1.5em;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .prev:focus, .next:focus {
        outline: none;
    }
    .card {
        min-width: 20%;
        box-sizing: border-box;
        padding: 10px;
        transition: transform 0.5s ease-in-out;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

    .card img {
        width: 100%;
        border-radius: 10px;
        display: block;
        position: relative;
    }

    .card-content {
        text-align: center;
         padding-top:300px;
    }

    .card-content span {
        background-color:red ;
        padding: 5px 30px;
        border-radius: 10px;
        color: white;
        font-size: 1.2rem;
         margin: 10px;

    }

</style>
<script type="text/javascript">
    let currentIndex = 0;
const slides = document.querySelector('.carousel');
const cards = document.querySelectorAll('.carousel .card');
const totalCards = cards.length;
const visibleCards = 4;

function updateSlidePosition() {
    const offset = -(currentIndex * (100 / visibleCards));
    slides.style.transform = `translateX(${offset}%)`;
}

function nextSlide() {
    if (currentIndex < totalCards - visibleCards) {
        currentIndex++;
        updateSlidePosition();
    } else {
        currentIndex = 0;
        updateSlidePosition();
    }
}

function prevSlide() {
    if (currentIndex > 0) {
        currentIndex--;
        updateSlidePosition();
    } else {
        currentIndex = totalCards - visibleCards;
        updateSlidePosition();
    }
}

// Initialize the carousel position
updateSlidePosition();


</script>


{% endblock content %}