{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Bali Destination wedding</h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a href="{% url 'wedding_bali' %}" class="active">Bali</a>
                    <a href="{% url 'wedding_dubai' %}">Dubai</a>
                    <a href="{% url 'wedding_malaysia' %}">Malaysia</a>
                    <a href="#">Srilanka</a>
                    <a href="#">Thailand</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1> Destination Wedding at an Affordable Bali Destination Wedding Packages</h1>
                    <p>Bali, a picture of natural beauty, welcomes you to turn your dreams of a destination wedding into reality. It is the perfect place to add a flavor of excitement to your wedding days. Bali Destination Wedding packages are always on the top of the list when planning destination weddings.</p>
                    <p>Whether you want a simple destination wedding or a grand one, the place itself is so scenic that you will definitely fall in love and won’t be able to forget the experience of getting there.</p>
                    <p>So, here is a little help for you with some essential things that you need to know before you book your place.</p>
                    <h1>Tips for Destination Wedding in Bali</h1>
                    <p>Even the average wedding has to be included with many things. Yet, you find something is missing out at the exact time you need it. If you are now planning for a destination wedding in Bali then you need to pack up some tips along with your luggage. And, here are they:</p>

                    <h1>Go for a villa</h1>
                    <p>Well, at first, the villa may sound too expensive for you. However, you’ll be surprised to know that the estate is just as affordable as you can’t imagine with all the decorations, colossal ground, and all the privacy that you need. In Bali, choosing a suitable place can be a flavouring agent for your wedding day.</p>
                    <h1>Hire a wedding planner</h1>
                    <p>Hiring a team of professionals can be so helpful for you to make your big day unique. If you want your wedding to be highlighted for years to your guest and leave an unforgettable experience to then hire wedding planners like MC Tours & Travelswho have a great Bali destination wedding packages and who don’t only know how to help you, but also know the ins and outs of the industry.</p>

                    <h1>Choose the season</h1>
                    <p>Although the season in Bali is always adorable and pleasing to your mind, you need to select the duration for your wedding day that is suitable for you. Even if you had rain on your day then you don’t have to worry about it as most of the wedding planners are all set with plan B at such times.</p>

                    <h1>Be honest with your budget</h1>
                    <p>Of course, a destination wedding in Bali is affordable. At the same time, it’s not that cheap. So, it’s always good to look at your budget before you get into any blunder at a new place.</p>

                    <h1>Find the right vendors</h1>
                    <p>Now, for this, you have two options. You can find vendors on your own, if you know, who are the best in their field. Or you can leave it on the experts to hire them for you. After all, it would help if you made everything perfect.</p>
                    <h1>What is the cost of the Bali Destination Wedding package?</h1>
                    <p>Bali is itself a place with beauty. So, you might don’t need to spend a lot of money to add beauty to your wedding. But you’ll have to be ready to spend money on the other expenses like the venue, accommodations, events and so on.</p>

                    <p>However, the cost of a destination wedding in Bali depends on the destination wedding locations in Bali, the accommodation, the events of your weddings, the photoshoot, the type of your wedding, and the wedding package you select, etc.</p>

                    <p>Starting with the decent accommodation in Bali, you’ll be spending $60-$150 per night per room. Now, let’s check out Bali Destination Wedding packages:</p>

                    <p>If you wish for a decent wedding ceremony in the garden of a villa then you may need to spend $500 or less. At the same time, a great destination wedding at a mansion with hundreds of guests may need $50,000. This will include flower decorations, entertainment events, a lavish banquet for reception, fireworks, an international photographer, a monstrous cake, make-up and hair service for bride and groom, videographers, etc.</p>

                    <p>If you booked a 4-star hotel with 20-30 guests along with photographers, a dinner reception, makeup and hair services for the bride then it might ask you for around $7000-$12000.</p>

                    <p>Whereas, if you want your wedding in a 5-star hotel with all the international standards planning, starting from the photographer’s makeup and hair service, decorations, videographers, and of course, dinner reception with some entertainment events then you’ll likely be spending around $12000-$17000.</p>

                    <p>Overall, the average cost for a destination wedding in Bali may go around INR 7,18,785 to 14,37,580 for around 100 guests. With our best Bali Destination Wedding cost, you will find amazing deals and offers for our special day.</p>
                    <h1>Which part of Bali is best for a Destination Wedding?</h1>
                    <p>Your hunt for the best destination wedding location can end up at Bali with its hundreds of resorts and beach venues that provide you a perfect destination wedding location. The place is the ideal location for a destination wedding, who wants to frame their wedding as an unforgettable memory. The gorgeous natural beauty adds zest to your wedding, leaving a memory to everyone.</p>

                    <p>If you are worried about getting married in Bali, you have to leave your baggage of worry to your hometown as the weather in Bali is favorable throughout the year. Thus, you don’t have to worry about it. Even if it’s raining during your wedding, the professionals have a buffer plan to not letting rain spoil your special day. MC Tours & Travelsoffer the best-picked Wedding venues in Bali with a price.</p>

                    <p>Yet, it is advisable to pick the day between April to October for a perfectly seasoned destination wedding. Along with the serene beauty, you will discover the best destination wedding resorts in Bali.</p>
                    <h1>Best Beaches for Destination Wedding in Bali</h1>
                    <p>Bali is a place filled with beauty and it is also referred to as one of the best Beach Destination Wedding in Bali. Every corner of the site had the strength to hypnotize you and make you feel like being in Paradise. You will find dozens of beaches with unique and wealthy shorelines. So, if you have decided on a beach destination wedding in Bali, it’s an excellent decision you have made for your wedding. Among many of the best destination wedding places in Bali, here I have selected some top beaches for your reference.</p>

                    <h1>Belmond Jimbaran Puri</h1>
                    <p>Belmond Jimbaran Puri is one of the best destination wedding places in Bali, also known as a romantic heavenly place for wedding venues. It is the ideal place for either honeymoon and wedding. A couple often picks this place up after Tranquil beach. So, if you want a grand lavish beach destination wedding, this place is just perfect for you.</p>

                    <h1>Banyan Tree Ungasan Bali</h1>
                    <p>This place is an ideal location for those who wish to get married on a clifftop paradise. Located at the seaside, this place gives you all the pleasure and excitement of a wedding at the beach, enjoying the untouched nature. You’ll be enjoying the glamor of the panoramic Indian Ocean, white beaches, and island magic.</p>

                    <h1>Seaside Suites Bali</h1>
                    <p>Seaside Suites Bali is the perfect place for an intimate and friendly destination wedding experience. This place offers you a package filled with five-star amenities alongside minibars, upgraded suites, and many more. On the demand of the guests, the site provides you decoration facilities and wedding cakes to satisfy your romantic wedding demand. This is popular as one of the best destination wedding venues in Bali.</p>

                    <h1>Soori Bali</h1>
                    <p>This place is suitable for those who want to have an authentic destination wedding. For those, who are looking for a peaceful venue for their destination wedding, Soori Bali is the ideal place. The best part about the site is, you can enjoy the view of the sunrise, sunset, and crashing waves that leave your mind peaceful.</p>

                    <h1>The St. Regis Bali Resort</h1>
                    <p>This place is a fantastic combination of a resort and beach, offering a gorgeous beachfront and the best destination wedding location in Bali. People always pick this place up over many other beachside areas due to its elegant view.</p>

                    <h1>Best Resorts to Stay in Bali for Wedding Ceremonies</h1>
                    <p>No doubt, Bali is one of the best and most preferred destination wedding locations among the many other in the world. The reason for picking this place up is, it’s a soothing environment for the mind that lightens your stress with its view. So, here I have enlisted some of the best destination wedding resorts in Bali. You can check out wedding venues in Bali with prices on their respective official sites.</p>

                    <h1>Conrad Hotel and Resort</h1>
                    <p>The look of Conrad Hotel and Resort is itself enough to please you. The place is floating due to its construction two meters above sea level, which gives it a gorgeous look. You will experience five-star services and facilities and an outdoor wedding location at the place. This is considered one of the best destination wedding locations in Bali.</p>

                    <h1>Bulgaria Hotel and Resort</h1>
                    <p>Bulgaria Hotel and Resort gives you a pleasure of a water wedding with its mighty ground in the middle of the water. This place offers a high space for the couple and their guests to enjoy it entirely.</p>

                    <h1>The Edge</h1>
                    <p>The Edge resort having a location on the cliffside edge of Southern Bali gives you a mighty view of the Indian ocean. It is an ideal place for the couple who want to have a wedding with the spirit of Edge. This place has also witnessed the marriage of many celebrities.</p>

                    <h1>Mirage Wedding Chapel</h1>
                    <p>If you ever dreamed of a fairy tale destination wedding, Mirage Wedding Chapel is here to make it accurate for you. The venue is a perfect combination of elegance and simplicity.</p>

                    <h1>The Diamond</h1>
                    <p>As for its name, the place itself looks like a Diamond giving you a perfect view of the sea. Diamonds are always a center of attraction. Then why not tieing the knots under the shelter of a diamond. This place makes it an ideal one for those who want to have a decent wedding.</p>
                    <h1>FAQs about Bali Wedding Destination</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much does a destination wedding in Bali cost?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    On average, the destination wedding in Bali makes you spend approximately $10000-$20000, which is INR 7,18,785 to 14,37,580 for around 100 guests. However, the Bali destination wedding cost may vary depending on the location, the no of guests, the number of functions, and so on.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    When is the Best Time to get married in Bali?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Luckily, the weather in Bali is favorable throughout the year. So, whenever you want to visit Bali for your wedding is a good time. Although, if you're going to get married in Bali at the best of times, choosing the duration between April to October, when the weather is utterly pleasant, is advisable.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How do I plan a Destination Wedding in Bali?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Even the average wedding needs to do a lot of preparations and planning. And yet, something gets missing out. When it comes to a destination wedding at a place like Bali, you need to be extra careful. It would help if you perfectly plan to make it an ideal marriage. So, you can start by selecting the venue and location, deciding budgets, and suitable Bali destination wedding packages, and so on. You can also take help from professionals.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    This element rides on the factors such as the location of a wedding. But, over the last decade, it is seen that the all-inclusive destination wedding's average cost is lower than that of the average cost of a domestic wedding. According to a survey of 2019, the average expense of a destination wedding was approximate $8,237, including airfare, accommodation, wedding packages, etc.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you pay for guests at destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The straightforward answer is NO. The guest at destination weddings needs to pay for their transportation and accommodation. However, bride and groom may arrange discounts on their hotel bookings through their wedding packages.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How do I Book a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Well, it is not too hard. And, you need to take proper steps, such as,
                                    <ul><li>Consult with your planner</li>
                                        <li>Select the venue</li>
                                        <li>Consider your guest list</li>
                                        <li>Don't forget your budget</li></ul>
                                    When you are all set with these prerequisites, look for the companies that offer you the destination wedding package within your budget. And when you find them, have a word or two with them through their official site.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you organize only Weddings or other Events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    MC Tours & Travelsare the specialist in arranging trips and holidays for the groups at different locations. However, they are also offering you their assistance in several terms, such as educational, international, Indian, along with honeymoon packages.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% endblock content %}