{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    h1{
     color:blue;
    }
    p{
    color:black;
    }
</style>
<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="container-fluid">
			<img src="/media/goa1_card.png" width="1200" height="200"/>
            <h1>Begin Your Lifelong Journey with Our Agra Destination Wedding Packages</h1>
             <p class="fs-5">Home to ‘A Symbol of Love- Taj Mahal, Agra is considered to be one of the most romantic cities in the country, and rightly so. A place which in all its essence is what it is because of the passionate love of a King towards his deceased wife has now been a source of inspiration for lovers all around the globe. It only makes sense that the city enjoys couples wanting to get married in the place where true love was once witnessed. With we thoughtfully designed<b>Agra Destination Wedding </b>Packages, you can leave it all on us to make your wedding the most special.</p>
             <h1>What are some of the tips for Destination Wedding in Agra?</h1>
            <p class="fs-5">While planning a wedding in Agra, you should be careful about choosing the venue as you might dream of getting married in the majestic Taj Mahal, but that isn’t possible. Having us on your side will take the burden off of you, and we’ll see to it that you get the most magical experience that you are looking for. Also, hiring local vendors and services would be better not only in regards to the cost but also quality. As the city hosts couples from worldwide, they have some of the best deals and services in the country.</p>
            <h1>What is the cost of Agra Destination Wedding package?</h1>
            <p class="fs-5">Agra by no means is an expensive city but it’s certainly isn’t cheap either. The cost of a destination wedding in Agra depends on a number of factors ranging from the venue and number of guests to the number of days and how lavish you want the wedding itself to be. It also depends on whether you’ll be footing the bill of your guests or not.</p>
             <p class="fs-5">But on average, getting married in the city that is India’s pride will cost you anywhere from INR 25,00,000 to INR 75,00,000 and more especially if you want your wedding to have a stunning view of the splendid Taj Mahal.</p>
            <h1>Which part of Agra is best for Destination Wedding?</h1>
             <p class="fs-5">One of the most sought-after romantic wedding destinations set on the scenic banks of river Yamuna, Agra is known for being home to some of the most prominent attractions in the country like Taj Mahal, Agra Fort, Fatehpur Sikri, Akbar Tomb, Ram Bagh, and many more.</p>
              <p class="fs-5">The whole of Agra is exceptionally beautiful, and you can choose to get married in any of the hotels or resorts overlooking one of the impressive attractions that the city has to offer.</p>
              <h1>What are some of the best places for a destination wedding in Agra?</h1>
              <p class="fs-5">f fancy and exotic is what you have in mind when you think of a destination wedding in Agra, then that’s exactly what you are going to get!</p>
              <ul class="fs-5">
                  <li><b>Courtyard by Marriott Agra </b>– A 5-star hotel having a backdrop of the wonder of the world, the Taj Mahal; is equipped with state-of-the-art facilities, perfect for a romantic and opulent destination wedding.</li>
                  <li><b>TAJ Hotel & Convention Centre</b> – In proximity to Agra Fort and Keoladeo National Park, this luxurious hotel is a blend of nature, modernity, rich history, and love making it the most popular place to get married in Agra.</li>
                  <li><b>Jaypee Palace Hotel </b>– As the name suggests, this upscale hotel has a regal look to it offering lavish services and infrastructure to make your dream of getting married like Royals come true.</li>
              </ul>
            <h1>What are some of the best resorts to stay in Agra for a wedding ceremony?</h1>
            <p class="fs-5">When it comes to extravagant wedding affairs and exquisite venues, Agra knows how to do it right. Here are some of the best resorts and hotels to stay in Agra for the wedding ceremony:</p>
            <ul class="fs-5">
                <li><b>The Oberoi Amarvilas</b> – Inspired by the Mughal architecture, The Oberoi Amarvilas is one of the most lavish venues offering stunning and unrestricted views of the Taj Mahal from all its suites and rooms.</li>
                <li><b>The Grand Imperial</b> – A century-old heritage hotel built for the British, today enjoys hosting couples from worldwide. Offering present-day facilities and services complemented by their warm hospitality makes it the perfect location to get married</li>
                <li><b>ITC Mughal Agra</b> – Sprawled over 35 acres of land, this stunning hotel inspired by the Mughal designs enjoys close proximity to the Taj Mahal and is known to be the only Indian hotel to have won the first Aga Khan Award for Excellence in Architecture in Asia.</li>
            </ul>
                <p class="fs-5">A beautiful city true to its history, Agra is really a wonder of India that welcomes tourists from all around the world throughout the year. Getting married in a place having such historical importance is something that many couples dream of. So, if you want to make it a part of your history, our Agra Destination Wedding Packages can promise to give you your dream wedding.</p>
            <h1>FAQs</h1>
            <div class="accordion" id="accordionExample">
               <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How much does a destination wedding in Agra cost?
                      </button>
                            </h2>
                     </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                           The romantic enticement of the Taj Mahal makes Agra one of the most loved wedding destinations. Depending on the type of hotel and the budget you are going for, it can cost you roughly from INR 25,00,000 to INR 75,00,000.
                         </div>
                          </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="headingTwo">
                               <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 When is the Best Time to get married in Agra?
                                </button>
                              </h2>
                         </div>
                         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                             Agra enjoys a semi-arid climate. Mid-October to April is favorable to get married to November- February having the best weather for couples looking to get hitched.
                           </div>
                          </div>
                         </div>
                      <div class="card"><div class="card-header" id="headingThree">
                       <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           How do I plan a Destination Wedding in Agra?
                           </button>
                            </h2>
                            </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                     <div class="card-body">
                     Destination weddings aren’t easy to plan. Planning a destination wedding includes a lot of logistics, communication, co-ordination in the chaos of the whole wedding itself. And so, we would say having us on your side will not only ease the whole process but will help you to focus and enjoy your functions.
                     </div>
                      </div>
                  </div>
              </div>
        </div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock content %}