{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
       h1{
     color:blue;
    }
    p{
    color:black;
    }
</style>
<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="container-fluid">
			<div class="container-fluid">
                <img src="/media/jaipur1_card.png" width="1400" height="200"/>
                 <h1>Choose Jaipur destination wedding packages for regal weddings</h1>
                <p>A destination wedding can always double as your dream vacation where you would get to have time with your family and close friends. When you pick an architectural deluxe and culturally vibrant city like Jaipur for your wedding festivities, you are in for the best time of your life. Being one of the most sought-after locations for weddings in India, Jaipur destination wedding packages come in all shapes and sizes to fit the needs of all customers.</p>
                 <h1>Tips for Destination Wedding in Jaipur</h1>
                 <ol>
                     <li><b>1. Decide your location: </b>This would be the backdrop for a lifetime of memories that you would look back on, so it is beneficial to choose wisely.</li>
                     <li><b>2. Inform your guests in advance: </b>Give your wedding invitations well in advance so that more people can be a part of your wedding festivities. Best is to send out a save the date announcement with the wedding location as soon as you begin wedding planning.
                     <li><b>3. Tailor your wedding outfit to the destination: </b>You would not want to sweat in the sweltering heat and damper your mood on your wedding day. As the temperature in Jaipur is usually high, go in for breathable clothes. For winter weddings, you can go for layered and heavier fabrics.</li>
                     <li>4. Keep the budget in mind: Though a destination wedding calls for spending big, you need not go overboard with spending a lot. Rather, choose to spend on local vendors who can help you plan and prepare your wedding festivities in a better manner. At GT Holidays, we will do all the needful to get you the best package deal.</li>
                      <li>5. Arrive early: It is good to arrive early to go through all the arrangements in person, while examining the event spaces that suit your wedding functions. You might even get time to do rehearsals so that you don’t miss a step on the actual wedding day.</li>
                      <li>6. Hire a professional: It is essential to choose your wedding vendors carefully who can provide you with professional assistance. Needless to say, but if you are going for a destination wedding, it’s best to choose a package that will take care of the vendors or venues and bookings to ease your burden.</li>
                       <li>8. Keep an extra day: With days of celebrations, you and your guests would require time to relax and plan for their departure, or better to explore the city.</li>
                 </ol>
                <h1>What is the cost of a Jaipur destination wedding package?</h1>
                <p>Include the number of guests, the number of functions involved (e.g., mehendi, sangeet). Consider whether you want to have an all veg or non-veg course. Then comes the location, if want to know the approximate budget then call us.</p>
                 <h1>Which part of Jaipur is best for a destination wedding?</h1>
                <p>There are palaces and resorts all over Jaipur to cater to the wedding crowd. You have to find the one that fits you best based on your preferences. </p>
                  <h1>Best place for destination wedding in Jaipur</h1>
                <p>Jaipur is home to many luxury and luxurious palaces and hotels that have doubled as palace destination wedding in Jaipur. Some of the resorts popular in Jaipur destination wedding packages are provided below. We have also covered wedding venues in Jaipur with price where possible.</p>
                 <h1>Taj Jai Mahal Palace</h1>
                <p>Amidst the beautiful Mughal gardens, this 260-year-old palace turned into a hotel is one of the most romantic Jaipur wedding venues. This extravagant heritage hotel has indoor and outdoor venues, such as ceremony lawn, fountain lawn, poolside lawn, Durbar Hall, and palace lawn, which can easily accommodate 100 to 3,000 guests.</p>
                <h1>Pride Amber Vilas Resort</h1>
                <p>To guarantee that your guests have an impressive experience, Pride Amber Vilas gives them royal treatment like never before. The central lawn, haveli, entrance lawn, and banquet halls can host up to 3,000 guests. You can also book striking rooms, and experience both the resort’s and third-party’s catering at the venue.</p>
                 <h1>ITC Rajputana</h1>
                <p>If luxury is what grabs your eye the most, then begin the journey of your new life at this 5-star hotel. Every corner of this hotel breaths royalty. The property can welcome up to 400 guests and presents in-house, multi-cuisine catering. Thanks to its world-class hospitality and wonderful, abundant lawns, your wedding at this hotel will be no less than a classy event.</p>
                 <h1>Hotel Jaipur Darbar</h1>
                <p>A Rajput Mughal style architecture, endless corridors, frescoed walls, and exquisite audience halls can be seen here. The seat capacity for weddings are 75 to 100 people.</p>
                 <h1>Le Meridien</h1>
                <p>Strategically located, Le Meridien not only extends excellent location but also unbelievable services as well. The venues offered in the hotel are amazing banquet areas like Diwan-E-Khas, which is fitting for engagements or pre-wedding ceremonies, and Amer Ballroom, ideal for sangeet nights or reception.</p>
                 <h1>Hotel Narain Niwas Palace</h1>
                <p>It can be a dream location to host your grand day. One of the exquisite heritage hotels in Jaipur this place will certainly give you memories that will last a lifetime. Plan your wedding at this venue to witness magic on your special day. The resort serves both veg and non-veg mouth-watering dishes.</p>
                <h1>FAQs about Destination Wedding in Jaipur</h1>
                <div class="accordion" id="accordionExample">
               <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I plan a destination wedding in Jaipur?
                      </button>
                            </h2>
                     </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                          Hire a wedding planner or you can do all of our research online or ask friends and relatives. To book the best destination wedding places in Jaipur, you can visit https://bvmtourstravels.in where you can enquire, email or call for more details.
                         </div>
                          </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="headingTwo">
                               <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 How much is an all-inclusive destination wedding??
                                </button>
                              </h2>
                         </div>
                         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                            An all-inclusive destination wedding can range from 10 lakhs to 1.5 crores. For more details, contact GT Holidays and we will happy to answer you.
                           </div>
                          </div>
                         </div>
                      <div class="card"><div class="card-header" id="headingThree">
                       <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Do you pay for guests at destination wedding?
                           </button>
                            </h2>
                            </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                     <div class="card-body">
                     This depends on your budget. You can choose to sponsor the cost of hosting your guests or book the room blocks for them and ask them to pay for accommodations.
                     </div>
                      </div>
                  </div>
              </div>
                <div class="accordion" id="accordionExample1">
               <div class="card">
                  <div class="card-header" id="headingOne1">
                    <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                      How do I book a venue or resort for destination wedding?
                      </button>
                            </h2>
                     </div>
                      <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                              Log on to www.bvmtourstravels.in, and choose from the locations we offer. Each location will provide an option of resorts to choose from.
                           </div>
                          </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="headingTwo1">
                               <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                 Do you organise only weddings or other events as well?
                                </button>
                              </h2>
                         </div>
                         <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample">
                          <div class="card-body">
                              We organise all events: weddings, honeymoons, birthdays, group travel, cruises and much more.
                             </div>
                          </div>
                         </div>
                      <div class="card"><div class="card-header" id="headingThree1">
                       <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                           Is a destination wedding safe during pandemic time?
                           </button>
                            </h2>
                            </div>
                     <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">
                     <div class="card-body">
                         Yes, currently, it is absolutely safe. We have partnered with the best destination wedding resorts in Jaipur, which put the customer first and follow all safety and hygiene guidelines and government regulations.
                      </div>
                      </div>
                  </div>
              </div>
            </div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock content %}