{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Kerala Destination Wedding </h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid">
                <div class="col-3 sidebar shadow">
                    <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}" class="active">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1>Kerala Destination Wedding Packages: A Perfect Beginning</h1>
                    <p>A wedding is the most blissful affair of one’s life that everyone wishes to treasure. So, it’s only right that the most important event of your life deserves only the best, and nothing is better than being surrounded by people who love you and care about you, and are genuinely happy for you. So, why not whisk yourself away to this alternate reality with our Kerala Destination Wedding Packages that are surely going to hit all the right spots in your list.</p>

                    <h2>What are some of the tips for Destination Wedding in Kerala?</h2>
                    <p>The first and foremost thing to remember is the time or the season while planning for a destination wedding in Kerala. Although Kerala boasts of pleasant and serene weather throughout the year, the months between October to March are known to be some of the best months for a romantic wedding.</p>

                    <p>The second most important thing is to hire local vendors for the best prices and authentic experience. You can always hire a wedding planner and leave it all on them to turn your wedding magical.</p>
                    <h2>What is the cost of Kerala Destination Wedding package?</h2>
                    <p>Kerala destination wedding cost really depends on the type of wedding, the time of the wedding, and your budget. But on average, the cost can be anywhere between INR 2,50,000 to INR 20,00,000; which isn’t too expensive for a big fat Indian wedding.</p>

                    <h2>Which part of Kerala is best for Destination Wedding?</h2>
                    <p>In this ‘God’s Own Country, there are tons of places where you can have your fairy-tale wedding and make your dreams come true.</p>
                    <ul style="font-family: Arial, Helvetica, sans-serif; font :Arial;font-size: 18px;line-height: 1.4;color: grey; margin-bottom: 15px;">
                        <li><b>Alleppey –</b> known for its beautiful backwaters and equally stunning and spacious houseboats, Alleppey is like a dream location come to life. You can hold one or all the ceremonies on the houseboats depending on the number of guests and have a natural backdrop to make it even more perfect. </li>
                        <li><b>Kovalam – </b>If a beach wedding is something that appeals to you, then getting married at the pristine beaches at Kovalam is your best bet. Let the shimmering waters be the witness of a perfect start to your new life.</li>
                        <li><b>Munnar – </b>A gorgeous hill station nestled amongst lush greenery, majestic waterfalls and cool breeze makes for the most romantic wedding with picture-perfect backdrops for you to create some good memories.</li>
                    </ul>
                    <h2>What are some of the best beaches for Destination Wedding in Kerala?</h2>
                    <p>Getting married at the beach, feeling the salt in the air, and being surrounded by your loved ones are what most people dream of. Here are some of the best beaches for a perfect destination wedding in Kerala.</p>
                    <ul style="font-family: Arial, Helvetica, sans-serif; font :Arial;font-size: 18px;line-height: 1.4;color: grey; margin-bottom: 15px;">
                        <li><b>The Leela Kovalam (Trivandrum) – </b>Who wouldn’t want to get up on their wedding day and look outside to see the perfect view of the dazzling Arabian Sea being perched on the luxurious cliff-top venue. This beautiful location is perfect as it gets with stunning views, luxurious rooms, fantastic vibes that make it the perfect place to say ‘I do’.</li>
                        <li><b>Marari Beach Resort (Alleppey) – </b>Being in the lap of nature while surrounded by luxury is the perfect blend of getting the best of both worlds. With individual pools and thatched roof cottages, it is one of the finest and most authentic beach resorts in Kerala.</li>
                        <li><b>Turtle On the Beach (Thiruvanathapuram) – </b>This alluring Japanese-style five-star hotel along with having a unique Japanese essence to it, is also quite luxurious and makes it a hit amongst couples looking to have a grand affair.</li>
                    </ul>
                    <h2>What are some of the best resorts to stay in Kerala for wedding ceremony?</h2>
                    <p>Kerala’s inherent natural beauty has been witnessed and adored by nationals and foreigners alike and rightly so. Kerala has some of the most beautiful resorts with natural backdrops making it a dream destination for couples.</p>
                    <ul style="font-family: Arial, Helvetica, sans-serif; font :Arial;font-size: 18px;line-height: 1.4;color: grey; margin-bottom: 15px;">
                        <li><b>Kumarakom Lake Resort – </b>This grandeur 5-star resort will give you all the feels of being Royalty with its beautiful villas and natural sceneries. The resort is extremely spacious making it the best choice for the wedding ceremony.</li>
                        <li><b>Estuary Island Resort – </b>With views of both the beach and stunning backwaters, this four-star resort located on the shores of Poovar Island Beach is the most ideal resort for destination weddings.</li>
                        <li><b>Ramada Resort –</b> This five-star Alleppey resort facing the backwaters is known for its state-of-the-art infrastructure and facilities. This is one of the most beautiful resorts in Kerala making it the perfect location to hold your wedding.</li>
                    </ul>
                    <p>This wonderland in the south of India is indeed a paradise and one of the most perfect and beautiful locations to commemorate the beginning of your life. If you are too looking to have your wedding in Kerala, then our Kerala Destination Wedding Packages will surely guide you to have your own perfect wedding!</p>

                    <h1>FAQs</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much does a destination wedding in Kerala cost?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The cost for a destination wedding in Kerala totally depends on the venue, number of guests, and how lavish you want the wedding to be. But the average cost starts from INR 2,50,000 and can go anywhere up to INR 20,00,000 and more.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    When is the Best Time to get married in Kerala?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Kerala is one such beautiful state that enjoys pleasant weather throughout the year making it the perfect destination for weddings. But, the most ideal time to get married in Kerala is between the months of October and March when the weather is pleasant enough for both outdoor and indoor weddings.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How do I plan a Destination Wedding in Kerala?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The foremost thing is to decide the time of the year you plan to get married which could be anytime as Kerala has pleasant weather. Then, you can either hire a wedding planner to take care of all your needs and demands or you can choose to do it in your own way and style
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    An all-inclusive destination wedding cost really differs from client to client as the time of the year and the choices made by the client factor in while deciding the cost, but on average about INR 2,50,000 to INR 20,00,000 and more, it could take.
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you pay for guests at destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    That totally depends on you whether you want to pay for your guests or not. Mostly, if it’s a destination wedding, hosts do take care of all the costs for their guests but that doesn’t necessarily mean that they have to.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How do I Book a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    To book a Venue or Resort for Destination Weddings, you’d need to call the said venue or resort and ask for the availability of the place on the day you plan to get married and also about other services. You can book the venue once everything is confirmed. But if you want to take an easy way out then you can always hire someone to do it for you.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you organize only Weddings or other Events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We organize Weddings and Honeymoons, and other events depending on the needs and circumstances.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:50px;">
    <div class="carousel-container">
        <div class="carousel">
            <div class="card" style="background-image:url('/media/wedding/goa2_card.png');background-size:cover;">
                <a href="{% url 'wedding_goa' %}">
                    <div class="card-content">
                        <span><b>Goa</b></span>
                    </div>
                </a>
            </div>
            <div class="card"  style="background-image:url('/media/wedding/jaipur1_card.png');background-size:cover;">
                <a href="{% url 'wedding_jaipur' %}">
                    <div class="card-content">
                        <span><b>Jaipur</b></span>
                </div>
                </a>
            </div>
            <div class="card"  style="background-image:url('/media/wedding/jaisalmer2_card.png');background-size:cover;">
                <a href="#">
                     <div class="card-content">
                        <span><b>Jaisalmer</b></span>
                </div>
                </a>
            </div>
            <div class="card"  style="background-image:url('/media/wedding/jodpur2_card.png');background-size:cover;">
                <a href="#">
                     <div class="card-content">
                        <span><b>Jodhpur</b></span>
                </div>

                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/kerala3_card.png');background-size:cover;">
                <a href="#">
                     <div class="card-content">
                        <span><b>kerala</b></span>
                </div>
                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/udaipur2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>Udaipur</b></span>
                </div>

                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/adaman2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">
                        <span><b>Andaman</b></span>
                </div>
                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/agra2_card.png');background-size:cover;">
                <a href="#">
                    <div class="card-content">

                        <span><b>Agra</b></span>
                </div>
                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/india2_card.png');background-size:cover;">
                <a href="#">
                     <div class="card-content">
                        <span><b>India</b></span>
                </div>

                </a>
            </div>
            <div class="card" style="background-image:url('/media/wedding/international2_card.png');background-size:cover;">
                <a href="#">
                     <div class="card-content">
                        <span><b>International</b></span>
                </div>

                </a>
            </div>
        </div>
            <button class="prev" onclick="prevSlide()">&#10094;</button>
            <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
</div>



<style>

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2em;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 1.5em;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:focus, .next:focus {
    outline: none;
}
.card {
    min-width: 20%;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.card a {
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    border-radius: 10px;
    display: block;
    position: relative;
}

.card-content {
    text-align: center;
     padding-top:300px;
}

.card-content span {
    background-color:red ;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
     margin: 10px;

}

</style>
<script type="text/javascript">
    let currentIndex = 0;
const slides = document.querySelector('.carousel');
const cards = document.querySelectorAll('.carousel .card');
const totalCards = cards.length;
const visibleCards = 4;

function updateSlidePosition() {
    const offset = -(currentIndex * (100 / visibleCards));
    slides.style.transform = `translateX(${offset}%)`;
}

function nextSlide() {
    if (currentIndex < totalCards - visibleCards) {
        currentIndex++;
        updateSlidePosition();
    } else {
        currentIndex = 0;
        updateSlidePosition();
    }
}

function prevSlide() {
    if (currentIndex > 0) {
        currentIndex--;
        updateSlidePosition();
    } else {
        currentIndex = totalCards - visibleCards;
        updateSlidePosition();
    }
}

// Initialize the carousel position
updateSlidePosition();


</script>


{% endblock content %}