{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    .sidebar {
            width: 20%;
            float: left;
            background-color: #f7f7f7;
            padding: 20px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            height: 60vh;
        }
        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }


        .sidebar a.active {
            background-color: #FFD700;
            color: #fff;
        }
     h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}
</style>
<div class="container-fluid">
    <div class="row">
        <img src="/media/wedding/jaipur1_card.png" width="1400" height="200"/>
    </div>
	<div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-2 sidebar shadow">
                    <a href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="#">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="#">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                </div>
                 <div class="col-10 p-5" style="text-align: justify;">
                 <h1>Choose Jaipur destination wedding packages for regal weddings</h1>
                <p>A destination wedding can always double as your dream vacation where you would get to have time with your family and close friends. When you pick an architectural deluxe and culturally vibrant city like Jaipur for your wedding festivities, you are in for the best time of your life. Being one of the most sought-after locations for weddings in India, Jaipur destination wedding packages come in all shapes and sizes to fit the needs of all customers.</p>
                 <h1>Tips for Destination Wedding in Jaipur</h1>

                     <p><b>1. Decide your location: </b>This would be the backdrop for a lifetime of memories that you would look back on, so it is beneficial to choose wisely.</p>
                     <p><b>2. Inform your guests in advance: </b>Give your wedding invitations well in advance so that more people can be a part of your wedding festivities. Best is to send out a save the date announcement with the wedding location as soon as you begin wedding planning.
                     <p><b>3. Tailor your wedding outfit to the destination: </b>You would not want to sweat in the sweltering heat and damper your mood on your wedding day. As the temperature in Jaipur is usually high, go in for breathable clothes. For winter weddings, you can go for layered and heavier fabrics.</p>
                     <p><b>4. Keep the budget in mind: </b>Though a destination wedding calls for spending big, you need not go overboard with spending a lot. Rather, choose to spend on local vendors who can help you plan and prepare your wedding festivities in a better manner. At GT Holidays, we will do all the needful to get you the best package deal.</p>
                      <p><b>5. Arrive early: </b>It is good to arrive early to go through all the arrangements in person, while examining the event spaces that suit your wedding functions. You might even get time to do rehearsals so that you don’t miss a step on the actual wedding day.</p>
                      <p><b>6. Hire a professional:</b> It is essential to choose your wedding vendors carefully who can provide you with professional assistance. Needless to say, but if you are going for a destination wedding, it’s best to choose a package that will take care of the vendors or venues and bookings to ease your burden.</p>
                       <p><b>8. Keep an extra day: </b>With days of celebrations, you and your guests would require time to relax and plan for their departure, or better to explore the city.</p>
                <h1>What is the cost of a Jaipur destination wedding package?</h1>
                <p>Include the number of guests, the number of functions involved (e.g., mehendi, sangeet). Consider whether you want to have an all veg or non-veg course. Then comes the location, if want to know the approximate budget then call us.</p>
                 <h1>Which part of Jaipur is best for a destination wedding?</h1>
                <p>There are palaces and resorts all over Jaipur to cater to the wedding crowd. You have to find the one that fits you best based on your preferences. </p>
                  <h1>Best place for destination wedding in Jaipur</h1>
                <p>Jaipur is home to many luxury and luxurious palaces and hotels that have doubled as palace destination wedding in Jaipur. Some of the resorts popular in Jaipur destination wedding packages are provided below. We have also covered wedding venues in Jaipur with price where possible.</p>
                 <h1>Taj Jai Mahal Palace</h1>
                <p>Amidst the beautiful Mughal gardens, this 260-year-old palace turned into a hotel is one of the most romantic Jaipur wedding venues. This extravagant heritage hotel has indoor and outdoor venues, such as ceremony lawn, fountain lawn, poolside lawn, Durbar Hall, and palace lawn, which can easily accommodate 100 to 3,000 guests.</p>
                <h1>Pride Amber Vilas Resort</h1>
                <p>To guarantee that your guests have an impressive experience, Pride Amber Vilas gives them royal treatment like never before. The central lawn, haveli, entrance lawn, and banquet halls can host up to 3,000 guests. You can also book striking rooms, and experience both the resort’s and third-party’s catering at the venue.</p>
                 <h1>ITC Rajputana</h1>
                <p>If luxury is what grabs your eye the most, then begin the journey of your new life at this 5-star hotel. Every corner of this hotel breaths royalty. The property can welcome up to 400 guests and presents in-house, multi-cuisine catering. Thanks to its world-class hospitality and wonderful, abundant lawns, your wedding at this hotel will be no less than a classy event.</p>
                 <h1>Hotel Jaipur Darbar</h1>
                <p>A Rajput Mughal style architecture, endless corridors, frescoed walls, and exquisite audience halls can be seen here. The seat capacity for weddings are 75 to 100 people.</p>
                 <h1>Le Meridien</h1>
                <p>Strategically located, Le Meridien not only extends excellent location but also unbelievable services as well. The venues offered in the hotel are amazing banquet areas like Diwan-E-Khas, which is fitting for engagements or pre-wedding ceremonies, and Amer Ballroom, ideal for sangeet nights or reception.</p>
                 <h1>Hotel Narain Niwas Palace</h1>
                <p>It can be a dream location to host your grand day. One of the exquisite heritage hotels in Jaipur this place will certainly give you memories that will last a lifetime. Plan your wedding at this venue to witness magic on your special day. The resort serves both veg and non-veg mouth-watering dishes.</p>
                <h1>FAQs about Destination Wedding in Jaipur</h1>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  <i class="fa-solid fa-clipboard-question" style="padding-right:10px;"></i>How much does a destination wedding in Jaipur cost?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                A Jaipur destination wedding cost ranges from Rs. 10 lakhs to Rs. 1.5 crores. There is something for everyone at the best destination wedding venues in Jaipur.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                               <i class="fa-thin fa-message-question" style="padding-right:10px;"></i>
                                When is the Best Time to get married in Jaipur?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The best time to visit Jaipur is during early November to February (this is also the tourist season)
                         </div>
                    </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                               How do I plan a Destination Wedding in Jaipur?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Hire a wedding planner or you can do all of our research online or ask friends and relatives. To book the best destination wedding places in Jaipur, you can visit https://gtholidays.in where you can enquire, email or call for more details.
                         </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                               How much is an all-inclusive destination wedding?
                            </button>
                        </h2>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                An all-inclusive destination wedding can range from 10 lakhs to 1.5 crores. For more details, contact GT Holidays and we will happy to answer you
                        </div>
                            </div>
                        </div>


                          <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                               Do you pay for guests at destination wedding?
                            </button>
                        </h2>
                        <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                That totally depends on you whether you want to pay for your guests or not. Mostly, if it’s a destination wedding, hosts do take care of all the costs for their guests but that doesn’t necessarily mean that they have to.
                         </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                               How do I Book a Venue or Resort for Destination Wedding?
                            </button>
                        </h2>
                        <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                To book a Venue or Resort for Destination Weddings, you’d need to call the said venue or resort and ask for the availability of the place on the day you plan to get married and also about other services. You can book the venue once everything is confirmed. But if you want to take an easy way out then you can always hire someone to do it for you.
                        </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                              Do you organize only Weddings or other Events as well?
                            </button>
                        </h2>
                        <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                We organize Weddings and Honeymoons, and other events depending on the needs and circumstances.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
           </div>
    </div>
 </div>
</div>
</div>
{% endblock content %}