{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    ul {
    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 18px;
    line-height: 1.5;
    color: grey;
    margin-bottom: 15px;
}
</style>
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Dubai Destination wedding</h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a href="{% url 'wedding_bali' %}">Bali</a>
                    <a href="{% url 'wedding_dubai' %}" class="active">Dubai</a>
                    <a href="{% url 'wedding_malaysia' %}">Malaysia</a>
                    <a href="#">Srilanka</a>
                    <a href="#">Thailand</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1>Begin Your Romantic Life with Our Dubai Destination Wedding Packages</h1>
                    <p>The ‘City of Gold’ is possibly one of the most vibrant places where you can have your dream wedding being in the lap of luxury and affluence. Known for its nightlife, skyscrapers, high-end hotels, and stunning locations, it is quite on the rise for being well-known amongst couples looking to get married. With our amazingly curated Dubai Destination Wedding Packages, you can leave it all to us to give you the most beautiful wedding.</p><br>

                    <h1>What are some of the tips for Destination Wedding in Dubai?</h1>
                    <p>Planning a destination wedding in Dubai involves a lot of steps including preparing well in advance in regards to date, number of guests, venue, outsourcing services, and all the miscellaneous tasks. Hiring a wedding planner is the best way to get all the tasks done as they have more experience and contacts and can get you some of the best deals while booking a venue or looking for decorators and caterers.</p><br>
                    <h1>What is the cost of Dubai Destination Wedding package?</h1>
                    <p>One of the wealthiest of the seven emirates, Dubai certainly isn’t cheap. Dubai Destination Wedding Cost can differ from person to person but on average, it can be anywhere between INR 50,00,000 to INR 1,00,00,000 and more. It’s definitely expensive to get married in Dubai but if you can afford it then why not?</p><br>

                    <h1>Which part of Dubai is best for Destination Wedding?</h1>
                    <p>An exotic location for couples, Dubai certainly tops the list of the best places to get married.</p>
                    <ul><li><b> Burj Al Arab Jumeirah –</b> Have you ever thought of having your wedding on a helipad looking down at the beautiful city with the most stunning view of Dubai’s skyline? Well, you can certainly do that and more! This is the most exceptional way to raise a toast to the new beginnings.<br></li>
                        <li><b>Emirates Palace – </b> The name is a dead giveaway as to what all you’ll experience here and it certainly won’t be anything less than royal. This fanciful venue will without a doubt give you the feeling of being ‘The Majesty’ on your special day.<br></li>
                        <li><b>Dubai World Trade Center – </b> Prominent for hosting extravagant events and weddings, this popular venue is one of the most sought-after locations for a destination wedding owing to its range of luxurious facilities, décor, and service.<br></li></ul>
                    <h1>What are some of the best beaches for Destination Wedding in Dubai?</h1>
                    <p>Dubai has some of the finest hotels and resorts in the whole wide world owing to its rich culture and heritage. And amongst those are the beach resorts that are just a cherry on the top when it comes to beauty and elegance. So, no doubt where the wedding would be held, it’s going to be a lavish affair.</p>
                    <ul><li><b>Jumeirah Beach Hotel –</b> Indulge in a private ceremony with a magnificent view of the gorgeous Arabian Gulf in all its glory. One of the best locations for a beach wedding in Dubai, it’s perfect for couples looking for a lavish but intimate wedding.<br></li>
                        <li><b>Nikki Beach Resort & Spa –</b> A perfect Bollywood-style location, the venue overlooks the breath-taking Pearl Jumeirah with scenic backdrops, ideal for a quixotic wedding.<br></li>
                        <li><b>Emerald Palace Kempinski Dubai – </b>A 5-star luxury beach resort, it has all the amenities you could need including but not limited to a lagoon pool, a private beach, a private salon, and a ballroom so you can be the ‘Prince & Princess’ that you are on your wedding day.<br></li></ul>
                    <h1>What are some of the best resorts to stay in Dubai for wedding ceremony?</h1>
                    <p>Dubai might be the only place with so many spectacular wedding venues at your disposal that it’s a really tough choice to pick one, but we have got some of the best resorts that would be everyone’s cup of tea.</p>
                    <ul><li><b>St. Regis Al Habtoor Polo Club Resort –</b> Offering customization at its best, this is one of the loveliest properties designed with Andalusian elements, that will take care of every minute detail of your wedding, and leave no stone unturned.<br></li>
                        <li><b>Al Maha Desert Resort –</b> Of course for a city known for its deserts, you should have a ‘Desert Wedding’ for the most authentic experience. Tying a knot with the dazzling view of the golden sand will be a bright start to this new chapter of your lives just like the view itself.<br></li>
                        <li><b>Atlantis, The Palm – </b>Imagine getting married at the dream destination of millions of people who just wish to view this stunning beauty once in their lives. Everything about this five-star hotel screams luxury, right from saying your vows on a sun-kissed beach down to being able to host your reception in the underwater wonderland; there is absolutely nothing you would want for once you step in, which is why it is the most famous and perfect location to get married to the love of your life.<br></li></ul>
                    <p> Destination weddings like one to Dubai will not only make for a great holiday for you and your guests but you will also be able to experience and learn a bit about another culture. Our Dubai Destination Wedding Packages can help you have any wedding you like; be it a grand wedding, beach wedding, or a desert wedding.</p>
                    <h1>FAQs</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much does a destination wedding in Dubai cost?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Dubai is one of the premiere locations for a destination wedding and it does cost a lot to have a full-fledged destination wedding in Dubai. The average cost can range anywhere from $81,000 (Dh 3,00,000) to $1,36,000 (Dh 5,00,000) and more.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    When is the Best Time to get married in Dubai?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Dubai can get extremely hot and make it unbearable to have an outdoor wedding if that’s what you are into. So, the months between October and May are ideal as the weather is pleasantly cool and you can opt for both indoor and outdoor weddings.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How do I plan a Destination Wedding in Dubai?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The best way to plan a destination wedding in Dubai is to hire a wedding planner. They know all the nuances of planning a wedding abroad and will be able to help you much better than anyone else.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Dubai has some fantastic locations to make your dream wedding come true but it’s quite an extravagant affair that might cost you anywhere from INR 50,00,000 to INR 1,00,00,000 and more.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you pay for guests at destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Paying for guests at a destination wedding totally depends on the status of the host and if they are willing to pay for their guests. It’s okay to not be able to pay for the guests or if you don’t want to but then the presence of guests might get affected.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How do I Book a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The best way to book a venue or resort for a destination wedding is to call up the said venue or resort and ask for their availability on the decided date and explain your requirements to them. Planning for a wedding abroad would be much easier if done through a wedding planner so you can get a discounted price.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you organize only Weddings or other Events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We organize weddings and honeymoon package along with cruise package as well to make every event and holiday worthwhile.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% endblock content %}