{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Agra Destination Wedding </h1>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a  href="{% url 'wedding_agra' %}" class="active">Agra</a>
                    <a href="{% url 'wedding_andaman' %}">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1> Begin Your Lifelong Journey with Our Agra Destination Wedding Packages</h1>
                    <p>Agra, home to the iconic Taj Mahal, a timeless symbol of love, is considered one of India's most romantic cities. This city, with its rich history of a king’s enduring love for his queen, has become an inspiration for lovers everywhere. It's no surprise that many couples choose Agra as the perfect place to celebrate their own love story. With our expertly crafted Agra Destination Wedding Packages, you can relax and let us take care of everything, ensuring your wedding day is as special and memorable as the love that inspired it.
                    <h1>What are some of the tips for Destination Wedding in Agra?</h1>
                    <p>When planning a wedding in Agra, it's essential to carefully select your venue. While getting married inside the iconic Taj Mahal may be a dream for many, it's not a feasible option. That's where we come in—our expertise will alleviate the stress, ensuring you enjoy the magical experience you've always envisioned. Opting for local vendors and services is also a smart choice, as it can provide both cost savings and high quality. As a popular wedding destination for couples from across the globe, Agra offers some of the finest deals and top-notch services available.</p>

                    <h1>What is the cost of Agra Destination Wedding package?</h1>
                    <p>Agra isn't the most expensive city, but it's not the most budget-friendly, either. The cost of hosting a destination wedding in Agra can vary significantly based on factors such as the choice of venue, the number of guests, the duration of the event, and how luxurious you want the wedding to be. Costs will also depend on whether you decide to cover your guests' expenses.</p>
                    <p>In Agra, India's pride thanks to the Taj Mahal, the cost of getting married can range from INR 25,00,000 to INR 75,00,000 or more, especially if you want a wedding with a breathtaking view of this iconic monument.</p>
                    <h1>Which part of Agra is best for Destination Wedding?</h1>
                    <p>Agra, a highly sought-after romantic wedding destination, is nestled along the picturesque banks of the Yamuna River. The city is famous for its prominent landmarks, including the Taj Mahal, Agra Fort, Fatehpur Sikri, Akbar's Tomb, Ram Bagh, and other notable attractions.</p>
                    <p>The whole of Agra is exceptionally beautiful, and you can choose to get married in any of the hotels or resorts overlooking one of the impressive attractions that the city has to offer.</p>
                    <h2>What are some of the best places for a destination wedding in Agra?</h2>
                    <p>If you're imagining a destination wedding in Agra that's both luxurious and distinctive, that's precisely what you'll experience!</p>
                    <ul>
                        <li><b>Courtyard by Marriott Agra – </b>A 5-star hotel having a backdrop of the wonder of the world, the Taj Mahal; is equipped with state-of-the-art facilities, perfect for a romantic and opulent destination wedding.<br></li>
                        <li><b>TAJ Hotel & Convention Centre – </b>In proximity to Agra Fort and Keoladeo National Park, this luxurious hotel is a blend of nature, modernity, rich history, and love making it the most popular place to get married in Agra.<br></li>
                        <li><b>Jaypee Palace Hotel –</b> As the name suggests, this upscale hotel has a regal look to it offering lavish services and infrastructure to make your dream of getting married like Royals come true.<br></li>
                    </ul>
                    <h2>What are some of the best resorts to stay in Agra for a wedding ceremony?</h2>
                    <p>For lavish weddings and stunning venues, Agra truly excels. Here are some of the top resorts and hotels in Agra for hosting your wedding ceremony:</p>
                    <ul>
                        <li><b>The Oberoi Amarvilas –</b>Inspired by the Mughal architecture, The Oberoi Amarvilas is one of the most lavish venues offering stunning and unrestricted views of the Taj Mahal from all its suites and rooms.<br></li>
                        <li><b>The Grand Imperial –</b> A century-old heritage hotel built for the British, today enjoys hosting couples from worldwide. Offering present-day facilities and services complemented by their warm hospitality makes it the perfect location to get married.<br></li>
                        <li><b>ITC Mughal Agra – </b>Sprawled over 35 acres of land, this stunning hotel inspired by the Mughal designs enjoys close proximity to the Taj Mahal and is known to be the only Indian hotel to have won the first Aga Khan Award for Excellence in Architecture in Asia.<br></li>
                    </ul>
                    <p>Agra, a city rich in history and beauty, is a marvel of India that attracts tourists from around the globe year-round. Many couples dream of tying the knot in a location with such historical significance. If you wish to include this iconic city in your love story, our Agra Destination Wedding Packages are designed to make your dream wedding a reality.</p>
                    <h1>FAQs</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is cost of Destination Wedding in Agra?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    With the Taj Mahal's romantic charm, Agra stands out as a highly favored wedding destination. Depending on your hotel selection and budget, you can expect costs to range from around INR 25,00,000 to INR 75,00,000. </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the ideal timme to have a Wedding in agra?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Agra experiences a semi-arid climate, with mid-October to April being the ideal time for weddings. Among these months, November to February provides the most pleasant weather for couples tying the knot. </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What are the steps to plan a Destination Wedding in Agra?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Planning a destination wedding can be quite challenging, involving numerous logistics, communication, and coordination amidst the excitement of the event. Having us by your side will not only simplify the process but also allow you to focus on and enjoy your special moments.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The Taj Mahal, a stunning historical masterpiece with its romantic allure, contributes to Agra being a pricier destination for weddings. An all-inclusive destination wedding in Agra typically ranges from INR 25,00,000 to INR 75,00,000. Costs can be lower depending on factors such as the number of guests, duration, venue, and the scale of the event.
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you cover the costs for guests at destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Covering the costs for guests at a destination wedding is at the host’s discretion and depends on their budget and preferences. The number of guests who attend will be influenced by whether or not the host chooses to cover their expenses, so this should be a key consideration when planning the guest list.   </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the process for booking a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The most effective approach is to visit the venue or resort’s website to explore the available options. Once you have a clear understanding of their offerings, contact the venue directly to inquire about availability, packages, and to discuss your specific requirements. Engaging a wedding planner can also be highly beneficial, as they are industry experts who can help you secure the best deals and manage the details.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you handle only weddings, or do you organize other types of events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We organize a variety of events, including weddings and pre-wedding celebrations, and offer honeymoon packages and cruises to ensure every moment is unforgettable.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










{% endblock content %}