{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    .sidebar {
            font-size: 1.25em;
            width: 20%;
            float: left;
            background-color: #f7f7f7;
            padding: 5px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            height: 60vh;
        }
        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .sidebar a.active {
            background-color: #FFD700;
            color: #fff;
        }
      h1 {
      font-family: "Times New Roman";
    font-size: 2.25em;
    margin-bottom: 10px;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 18px;
    line-height: 1.4;
    color: grey;
    margin-bottom: 15px;
}
    .accordion-item{
    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 16px;
    color: grey;
    margin-bottom: 15px;
    }
    .accordion-header{
    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 20px;
    color: grey;
    margin-bottom: 1px;
    }
    .accordion-button collapsed{
    font-family: Arial, Helvetica, sans-serif;
    font :Arial;
    font-size: 20px;
    line-height: 1.6;
    color: grey;
    margin-bottom: 15px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <img class="pb-2" src="/media/wedding/weddingindia_card.png" width="1800" height="300"/>
    </div>
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-2 sidebar shadow">
                    <a href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="#">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="#">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                </div>

                <div class="col-10 p-5" style="text-align: justify;">
                    <p>From the beautiful beaches of Goa to the royal palaces of Rajasthan and the scenic splendour of Coorg and Mussoorie, we have some of the best destination wedding spots in India. In fact, planning a destination wedding in India is inexpensive and far easier. At GT Holidays, we’ll help you plan the perfect dream wedding. From offering the best destination wedding packages in India to guest concierge services, we’ll run the whole gamut at the most affordable prices.<br>

                       We’ve used our extensive experience in the industry and relationships with trade partners to put together luxury destination wedding packages in India and abroad. Be it an intimate gathering or a big fat grand wedding, there’s nothing we cannot plan!<br><br>

                       If you’re new to the idea of destination weddings, here are a few things to help you get started</p>
                    <h1>Pick the Perfect Destination</h1>
                    <p>When choosing a wedding destination, keep accessibility and the guest list in mind. An offbeat location is exciting, but is it accessible for seniors or relatives with a disability? Can your guests afford to pay for their travel and accommodation? Is the weather conducive for a wedding? What kind of backdrop would you love for the ceremony? If you’ve always dreamed about saying your I dos by the beach, consider a beach location in Goa or Kerala. Choose Rajasthan for its traditional and palatial ambiance if you love pomp and grandeur.</p>
                    <h1>Choosing The Right Date:</h1>
                    <p >October to March is the best season for weddings because the weather is pleasant and there are plenty of auspicious dates during these months. Your choice of date also depends on the location. For instance, hill stations like Mussoorie and Ooty are very cold during winter. If you’re looking for affordable destination wedding packages, choose a date in the off-season. Since there’s less crowd and fewer hotel bookings, wedding costs will be lower. Professionals like makeup artists and photographers are readily available.</p>
                    <p >With GT Holidays, budgets aren’t a problem. You can avail the best destination wedding packages, even during the peak season. Just let us know your chosen date, and we’ll reserve the venue, book your rooms, and engage professional artists like decorators and photographers immediately.</p>
                    <p>The shoulder season is a great time as well – you can save your guests and yourselves money and still experience the great weather.</p>
                    <h1>Decide On The Budget</h1>
                    <p>Destination weddings in India usually start from around INR 10 Lakh and could go up to INR 60 Lakhs or more, depending on the location, season, and number of guests. GT Holidays offers the best destination wedding packages irrespective of your budget.</p>
                    <h1>Best Destination Wedding Venues In India</h1>
                    <p>We offer destination wedding packages in some of the most exotic locations in India. Some of them are listed below:</p>
                    <h1>Namah, Jim Corbett</h1>
                    <p>Namah Resort is 10kms away from the picturesque Jim Corbett National Park. If your idea of a perfect wedding includes a mandap surrounded by wildlife and forest hills, this is the ideal place for a destination wedding. Your guests will enjoy the peace and harmony that envelops the Park. The resort is at a comfortable distance away from the hustle and bustle of city life. With more than 3116 sq. ft of available space, the Resort can accommodate hundreds of guests. It also has beautifully decorated banquet halls and a ballroom that can be tailored to your requirements.</p>
                    <p><b>Wedding Cost: 20–25 lakhs</b></p><br>
                    <h1>JaiBagh Palace, Jaipur</h1>
                    <p>Gracefully positioned in a natural setting amidst the Aravalli Range, Jaipur’s JaiBagh Palace is excellent for weddings and other special occasions. The palace has an indoor banquet hall, three outdoor lawns, and a poolside space, each of which can accommodate hundreds of guests. Our best destination wedding packages in India include value-added services such as food and beverage catering, decorators, light, photographers, videographers, DJ, etc.</p>
                    <p><b>Wedding Cost: 25 lakhs</b></p><br>
                    <h1>Royal Orchid Fort Resort, Mussoorie</h1>
                    <p>The Royal Orchid Fort Resort is located amidst the serene valleys of Mussoorie and is a very popular location for destination weddings in India. The resort has two banquet halls and three open-air venues, each of which can comfortably accommodate hundreds of guests. Your guests can also book their rooms at one of the resort’s 58 rooms. Our destination wedding packages include catering, photographers, videographers, and decorators.</p>
                    <p><b>Wedding Cost: 14 lakhs</b></p><br>
                    <h1>Hotel Clarks Shiraz, Agra</h1>
                    <p>This is a 5-star luxury hotel very close to the Taj Mahal. The hotel is perfect for couples who’d like the Taj Mahal as a backdrop for their wedding venue. In fact, it has been chosen by Conde Nast Traveller as one of the top 5 hotels offering an incredible view of the Taj Mahal. Hotel Clarks Shiraz has also been consistently awarded the best wedding destination in North India. It has multiple wedding halls with luxurious interiors which can be further decorated to match your style and preferences. The hotel also has a terrace that’s perfect for open-air events where guests can have a gala while enjoying a great view of the city.</p>
                    <h1>The Oberoi Udaivilas, Udaipur</h1>
                    <p>The Oberoi Udaivilas is a popular wedding venue for celebrities and the ultra-rich. It is an expensive location but boasts of the absolute best that money can offer. If you have always dreamed of a royal wedding, this is the perfect place.</p>
                    <p><b>Wedding Cost: Rs. 1.2 crore.</b></p><br>
                    <h1>FAQs about India Wedding Destination</h1>
                     <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  <i class="fa-solid fa-clipboard-question" style="padding-right:10px;"></i>What is the best time to have a honeymoon in India?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The timing depends on where you’re going for your honeymoon among our honeymoon tour packages in India. The best time to visit Manali for your honeymoon, for instance, is between October to February. For a place like Kerala, it’s between September to March.
                         </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                               <i class="fa-thin fa-message-question" style="padding-right:10px;"></i>
                                Which is the best month to visit India?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The best time to visit India is between October and March, depending on where you’re going for your honeymoon tour packages. The weather during this period is a mix of comfortably warm and sunny, and also wintery if you choose to go to the mountainous areas.
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              How many days are enough for an India trip?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Depending on where you are visiting, somewhere between 10-14 days is sufficient for a trip to India for your honeymoon
                         </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                               Is India safe for honeymoon couples?
                            </button>
                        </h2>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Yes, our honeymoon holiday packages in India are all safe for every tourist.
                        </div>
                            </div>
                        </div>
                          <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                              How can I travel in India?
                            </button>
                        </h2>
                        <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                There are various modes of transportation available in India, including buses, autos, subways, and cabs.
                        </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                              What are the visa requirements for international travelers visiting India?
                            </button>
                        </h2>
                        <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Our best honeymoon tour operators in India will arrange everything for you right from your visa to your tickets, hotel arrangement, and itinerary. All the visa requirements will be handled by us to get you your visa on time.
                             </div>
                        </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-5">
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\goa_card.png" class="card-img-top" alt="GOA PICTURE">
                            <a href="{% url 'wedding_goa' %}" class="btn btn-primary">Go TO Goa</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\jaipur_card.png" class="card-img-top" alt="jaipur picture">
                            <a href="{% url 'wedding_jaipur' %}" class="btn btn-primary">Jaipur</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\jaisalmer_card.png" class="card-img-top" alt="cruise">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary">Jaisalmer</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\jodpur_card.png" class="card-img-top" alt="jodpur">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary">jodpur</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\kerala_card.png" class="carrd-img-top" alt="kerala">
                            <a href="{% url 'wedding_india' %}" class="btn btn-pimary">Kerala</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\udaipur_card.png" class="card-img-top" alt="udaipur">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary"> udaipur</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\andaman.png" class="card-img-top" alt="andaman">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary"> Andaman</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\agra1_card.png" class="card-img-top" alt="agra">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary"> AGRA </a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\india_card.png" class="card-img-top" alt="india">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary">INDIA</a></div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="\media\wedding\international_card.png" class="card-img-top" alt="international">
                            <a href="{% url 'wedding_india' %}" class="btn btn-primary">International</a></div>
                    </div>
                </div>
            </div>

{% endblock content %}