{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Jaipur Destination Wedding </h1>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}" class="active">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1>Choose Jaipur Destination Wedding Packages for Regal Weddings</h1>
                    <p>Imagine your wedding as not just a celebration but also a dream vacation with your loved ones. Opting for a destination like Jaipur, renowned for its architectural grandeur and rich cultural heritage, ensures an unforgettable experience. Jaipur, one of India's most coveted wedding locations, offers destination wedding packages that cater to a variety of preferences and budgets, ensuring a majestic and personalized celebration for every couple.</p>
                    <h1>Tips for Destination Wedding in Jaipur</h1>

                    <p><b>1. Decide Your Location:</b> Choose your wedding backdrop wisely as it will be a part of your lifetime memories. Opt for a location that resonates with your vision and style.</p>
                    <p><b>2. Inform Your Guests in Advance:</b> Send out your wedding invitations early to ensure that more people can join your celebrations. Ideally, dispatch a "save the date" announcement with the wedding location as soon as you start planning.</p>
                    <p><b>3. Tailor Your Wedding Outfit to the Destination:</b> Consider the local climate when choosing your wedding attire. Jaipur's typically warm temperatures call for breathable fabrics. For winter weddings, layered and heavier materials can be a great choice.</p>
                    <p><b>4. Keep the Budget in Mind:</b> While a destination wedding often involves significant expenses, avoid overspending. Focus on hiring local vendors who can provide excellent services at a reasonable cost. At MC Tours & Travels, we are committed to finding you the best package deal.</p>
                    <p><b>5. Arrive Early:</b> Arriving ahead of time allows you to review the arrangements in person and assess the event spaces for your wedding functions. This extra time also gives you the opportunity to rehearse and ensure everything is in place for the big day.</p>
                    <p><b>6. Hire a Professional:</b> Choose experienced wedding vendors who can provide professional assistance. Opt for a comprehensive package that covers vendors, venues, and bookings to minimize your stress.</p>
                    <p><b>7. Keep an Extra Day:</b> Allow an additional day for relaxation after the celebrations. This extra time can be used for unwinding or exploring the city with your guests.</p>

                    <h1>What is the cost of a Jaipur destination wedding package?</h1>
                    <p>When planning your destination wedding, consider the number of guests and the various functions involved, such as mehendi and sangeet. Decide if you prefer an all-vegetarian or non-vegetarian menu. Additionally, think about the ideal location for your event. For an estimate of the budget tailored to your needs, feel free to contact us.</p>
                    <h1>Which Part of Jaipur is Best for a Destination Wedding?</h1>
                    <p>Jaipur is renowned for its opulent palaces and luxurious resorts, each offering a unique charm for destination weddings. To find the perfect venue, consider your personal preferences and the style of wedding you envision. Whether you seek the grandeur of historic palaces or the elegance of contemporary resorts, Jaipur has a wide range of options to suit every taste and budget.</p>
                    <h1>Best Places for a Destination Wedding in Jaipur</h1>
                    <p>Jaipur, with its array of opulent palaces and luxurious hotels, offers some of the most enchanting venues for a destination wedding. The city’s rich heritage and regal ambiance make it an ideal location for couples seeking a grand celebration. Below are some of the top resorts and venues in Jaipur for destination weddings, along with pricing details where available. Explore these exceptional locations to find the perfect backdrop for your special day.</p>

                    <h1>Taj Jai Mahal Palace</h1>
                    <p>Set amidst stunning Mughal gardens, the Taj Jai Mahal Palace, a 260-year-old heritage hotel, offers a truly romantic setting for weddings. This luxurious venue features a range of spaces, including the ceremony lawn, fountain lawn, poolside lawn, Durbar Hall, and palace lawn, each capable of accommodating between 100 to 3,000 guests.</p>
                    <h1>Pride Amber Vilas Resort</h1>
                    <p>For a regal experience, the Pride Amber Vilas Resort provides unmatched grandeur. The venue includes the central lawn, haveli, entrance lawn, and banquet halls, all designed to host up to 3,000 guests. Additionally, the resort offers striking rooms and catering services, both in-house and from third-party providers, ensuring a memorable celebration.</p>
                    <h1>ITC Rajputana</h1>
                    <p>For those drawn to luxury, ITC Rajputana is the perfect choice. This 5-star hotel exudes royalty and elegance, with the capacity to host up to 400 guests. It features in-house, multi-cuisine catering and world-class hospitality, ensuring your wedding is both sophisticated and spectacular.</p>
                    <h1>Hotel Jaipur Darbar</h1>
                    <p>Reflecting Rajput Mughal architecture with its elaborate corridors, frescoed walls, and exquisite audience halls, Hotel Jaipur Darbar offers an intimate setting for weddings. It can accommodate 75 to 100 guests, providing a charming and elegant venue for smaller celebrations.</p>
                    <h1>Le Meridien</h1>
                    <p>Le Meridien offers a prime location combined with exceptional services. The hotel features impressive venues such as the Diwan-E-Khas, perfect for engagements and pre-wedding ceremonies, and the Amer Ballroom, which is ideal for sangeet nights or receptions. These versatile spaces ensure a sophisticated and memorable wedding experience.</p>
                    <h1>Hotel Narain Niwas Palace</h1>
                    <p>Hotel Narain Niwas Palace, one of Jaipur’s exquisite heritage hotels, provides a magical setting for your grand day. Known for its enchanting ambiance and historical charm, this venue promises a wedding filled with lasting memories. The resort offers a delectable range of both vegetarian and non-vegetarian dishes, adding to the grandeur of your celebration.</p>
                    <h1>FAQs about Destination Wedding in Jaipur</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the cost of destination wedding in Jaipur?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    A Jaipur destination wedding typically ranges from ₹10 lakhs to ₹1.5 crores. With a variety of luxurious venues and options available, you’re sure to find something that fits your budget and preferences for the perfect wedding in Jaipur.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the ideal Time to get married in Jaipur?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    The best time to visit Jaipur is from early November to February. During this period, the weather is pleasantly cool, making it ideal for both exploring the city and hosting your wedding. Note that this is also the peak tourist season, so it's wise to book your accommodations and venues well in advance.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What are the steps to plan a Destination Wedding in Jaipur?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    If you're planning a destination wedding in Jaipur, hiring a wedding planner can make the process much smoother. However, if you prefer to do your own research, you can find valuable information online or seek recommendations from friends and family. For the best destination wedding venues in Jaipur, visit MC Tours & Travels where you can inquire, email, or call for more details.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    An all-inclusive destination wedding in Jaipur can range from ₹10 lakhs to ₹1.5 crores. For more details and personalized assistance, contact MC Tours & Travels. We’ll be happy to help you plan your dream wedding and provide all the information you need.
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you cover the costs for guests at destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Whether you cover your guests' costs at a destination wedding is entirely up to you. While it's common for hosts to take care of all expenses, especially for destination weddings, it's not a requirement. You can choose to cover some or all of the costs or ask guests to handle their own expenses.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is process for booking a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    To book a venue or resort for a destination wedding, start by contacting the venue directly to check availability for your desired date and inquire about their services. Once you have confirmed details, you can proceed with the booking. Alternatively, if you prefer a hassle-free approach, consider hiring a wedding planner to handle the arrangements for you.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you handle only weddings, or do you organize other types of events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We organize weddings, honeymoons, and various other events tailored to your needs and preferences.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}