{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Dubai Destination wedding</h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
    <div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a href="{% url 'wedding_bali' %}">Bali</a>
                    <a href="{% url 'wedding_dubai' %}" class="active">Dubai</a>
                    <a href="{% url 'wedding_malaysia' %}">Malaysia</a>
                    <a href="#">Srilanka</a>
                    <a href="#">Thailand</a>
                </div>
                <div class="col-9" style="text-align: justify;padding-left:50px;">
                    <h1>Start Your Romantic Journey with Our Dubai Destination Wedding Packages</h1>
<p>Dubai, the 'City of Gold,' is one of the most vibrant destinations for a luxurious and opulent wedding. Renowned for its dazzling nightlife, iconic skyscrapers, upscale hotels, and breathtaking venues, Dubai is increasingly popular among couples seeking a spectacular wedding. With our expertly curated Dubai Destination Wedding Packages, you can entrust us with all the details to create the most beautiful and memorable wedding experience for you.</p><br>

                    <h1>What Are Some Tips for a Destination Wedding in Dubai?</h1>
<p>Planning a destination wedding in Dubai requires careful preparation, including selecting the date, finalizing the guest list, choosing a venue, and organizing various services. Hiring a wedding planner can streamline the process, as they bring valuable experience, industry contacts, and can help you secure the best deals on venues, decorators, and caterers.</p><br>

<h1>What Is the Cost of a Dubai Destination Wedding Package?</h1>
<p>Dubai, known for its luxury, is not a budget-friendly option. The cost of a Dubai destination wedding typically ranges between INR 50,00,000 and INR 1,00,00,000 or more. While it is on the pricier side, the experience can be worth the investment if it fits within your budget.</p><br>

<h1>Which Part of Dubai Is Best for a Destination Wedding?</h1>
<p>Dubai offers numerous exotic locations ideal for a destination wedding, making it a top choice for couples seeking a memorable and luxurious setting for their special day.</p>
                   <ul>
  <li><b>Burj Al Arab Jumeirah –</b> Imagine celebrating your wedding on a helipad with breathtaking views of Dubai’s skyline. This iconic venue offers a truly exceptional way to toast to new beginnings, providing a unique and unforgettable experience.<br></li>
  <li><b>Emirates Palace –</b> The name says it all. This opulent venue promises a royal experience, making you feel like royalty on your special day. Expect nothing less than grandeur and luxury at this extravagant location.<br></li>
  <li><b>Dubai World Trade Center –</b> Known for hosting high-profile events and weddings, this renowned venue is a top choice for destination weddings. With its luxurious facilities, exquisite décor, and exceptional service, it’s a premier location for an extravagant celebration.<br></li>
</ul>
                   <h1>What are Some of the Best Beaches for a Destination Wedding in Dubai?</h1>
<p>Dubai is renowned for its stunning hotels and resorts, and its beach venues are the epitome of elegance and beauty. Whether your wedding is held at one of these exquisite locations, it's guaranteed to be a lavish affair.</p>
<ul>
  <li><b>Jumeirah Beach Hotel –</b> Enjoy a private ceremony with a breathtaking view of the Arabian Gulf. This beach wedding location in Dubai is perfect for couples seeking a luxurious yet intimate setting.<br></li>
  <li><b>Nikki Beach Resort & Spa –</b> Offering a Bollywood-style vibe, this venue boasts spectacular views of Pearl Jumeirah. It’s an ideal choice for a romantic and picturesque wedding.<br></li>
  <li><b>Emerald Palace Kempinski Dubai –</b> This 5-star luxury beach resort offers an array of amenities, including a lagoon pool, private beach, salon, and ballroom. It’s perfect for those who want to feel like royalty on their special day.<br></li>
</ul>

<h1>What are Some of the Best Resorts to Stay in Dubai for Wedding Ceremonies?</h1>
<p>Dubai offers a multitude of spectacular wedding venues, making it a challenging decision. However, here are some of the finest resorts that are sure to impress.</p>
<ul>
  <li><b>St. Regis Al Habtoor Polo Club Resort –</b> Known for its Andalusian-inspired design and exceptional customization options, this property ensures every detail of your wedding is meticulously planned and executed.<br></li>
  <li><b>Al Maha Desert Resort –</b> For an authentic desert experience, this resort provides a stunning backdrop of golden sands. A desert wedding here offers a truly unique and memorable start to your new life together.<br></li>
  <li><b>Atlantis, The Palm –</b> Imagine tying the knot at one of the world’s most iconic resorts. From a sun-kissed beach ceremony to a reception in an underwater wonderland, Atlantis, The Palm promises luxury and magic at every turn.<br></li>
</ul>

<p>A destination wedding in Dubai offers not only an incredible holiday experience for you and your guests but also a chance to immerse in a rich and vibrant culture. With our Dubai Destination Wedding Packages, you can have the wedding of your dreams, whether it’s a grand celebration, a beach affair, or a desert event.</p>
                    <h1>FAQs</h1>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                   What is the cost of destination wedding in Dubai?
                                </button>
                            </h1>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                Dubai is a premier destination for weddings, known for its opulence and luxury. However, a full-fledged destination wedding here can be quite costly. On average, you might expect to spend between $81,000 (AED 300,000) and $136,000 (AED 500,000) or more.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What is the ideal Time to have a wedding in Dubai?
                                </button>
                            </h1>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                Dubai's intense heat can make outdoor weddings challenging, so it's best to plan your event between October and May. During these months, the weather is pleasantly cool, allowing you to choose between indoor and outdoor wedding venues comfortably.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    What are the steps to plan a Destination Wedding in Dubai?
                                </button>
                            </h1>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                The most effective way to plan a destination wedding in Dubai is to hire a wedding planner. With their expertise in organizing events abroad, they can navigate the complexities and ensure a smooth planning process far better than anyone else.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    How much is an all-inclusive destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  Dubai offers stunning locations for a dream wedding, but it’s a lavish affair that can cost anywhere from INR 50,00,000 to INR 1,00,00,000 or more.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you cover the costs for guests at destination wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                 Whether or not to cover guests' expenses at a destination wedding depends on the host's preferences and budget. While it's perfectly acceptable to not cover these costs, it's important to consider that it might affect the number of guests who are able to attend.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                   What is the process of booking a Venue or Resort for Destination Wedding?
                                </button>
                            </h1>
                            <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                To book a venue or resort for your destination wedding, start by contacting the venue directly to check availability on your preferred date and discuss your requirements. For a smoother planning process and potential discounts, consider working with a wedding planner who specializes in destination weddings.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h1 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                                    <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                    Do you handle only weddings, or do you organize other types of events as well?
                                </button>
                            </h1>
                            <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                  We offer comprehensive services, including organizing weddings, honeymoon packages, and cruise experiences, ensuring that every event and holiday is memorable and worthwhile.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% endblock content %}