{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Andaman Destination Wedding </h1>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
	<div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                     <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}" class="active">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                 <div class="col-9" style="text-align: justify;padding-left:50px;">
                     <h1>Tips For a Destination Wedding in Andaman</h1>
                     <p>Before planning a <span style="colour:blue">destination wedding in Andaman</span>, there are certain things you should remember, as is the case with every destination wedding. Visit the location in advance and meet all the vendors beforehand to ensure everything is to your liking. Be prepared for any extra expenses, although at GT Holidays we make sure your package is comprehensive and no extra expenses crop up at any given time. Check all the local marriage requirements, secure all the necessary documents, and tailor your wedding dress according to the weather of the destination in question.</p><br>
                     <h1> Cost of Andaman Destination Wedding Package</h1>
                     <p>An Andaman destination wedding cost depends on the package you choose. We have different destination wedding packages available, and your choices will decide the cost of your wedding. These choices include whether you want us to organize just the wedding or other events as well the venue you choose, your menu, etc.</p><br>
                     <h2>Best Part of Andaman for A Destination Wedding</h2>
                     <p>Andaman is filled with beautiful spots for the perfect destination wedding. We provide you with options for the best destination wedding places in Andaman. Havelock, for instance, serves as a great spot to host a destination wedding. It has breathtaking views for everyone to enjoy and the perfect atmosphere for a lovely wedding to take place.</p><br>
                     <h2>Best Andaman Beach for Destination Wedding</h2>
                    <p>Andaman has an endless list of alluring beaches. Some of them include Radhanagar Beach, Bharatpur Beach, Laxmanpur Beach, Elephant Beach, Kalapathar Beach, Wandoor Beach, Govind Nagar Beach, and Vijaynagar Beach. The other beaches are Chidiyatapu Beach, Lalaji Bay Beach, Aamkunj Beach, Baludera Beach, Raman Bageecha Beach, Merk Bay Beach, and Avis Island Beach. GT Holidays helps you organize the best beach destination wedding in Andaman no matter which beach you choose.</p><br>
                    <h2>Best Andaman Resorts to Stay in For Destination Wedding</h2>
                    <p>Our experts can provide you with some of the best destination wedding resorts in Andaman for you to choose as your wedding venue. You can take your pick from luxurious resorts such as Taj Exotica Resort & Spa, Blue Lagoon Resort, Coral Reef Resort, Symphony Summer Sands Beach Resort, Megapode Resort, Silver Sand Beach Resort, and Aparupa Sands Marina Beach Resort.</p><br>
                    <h1>FAQs About Our Andaman Destination Wedding Packages</h1>
                      <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                How much does a destination wedding in Andaman cost?
                            </button>
                        </h1>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The cost of your destination wedding in Andaman will depend on the kind of venue you choose along with the customized destination wedding package. We can provide you with a list of the wedding venues in Andaman with price specifications for you to choose from.
                         </div>
                    </div>
                        </div>
                    <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                When is the Best Time to get married in Andaman?
                            </button>
                        </h1>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                October to May is the ideal period to get married in Andaman because the weather is fantastic during these months. GT Holidays gives you access to the best destination wedding venues in Andaman depending on the kind of ambience you want for your destination wedding.                        </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               How do I plan a Destination Wedding in Andaman?
                            </button>
                        </h1>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                In order to plan a destination wedding in Andaman, you need to list down all the details and the specific features you want for your wedding. This includes details such as the type of venue, the kind of food, the various functions you want us to manage for you, and so on.
                          </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               How much is an all-inclusive destination wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                If you want an all-inclusive wedding, the cost of it will depend on your budget. We have different types of all-inclusive destination wedding packages.                         </div>
                            </div>
                        </div>
                          <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               Do you pay for guests at destination wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Whether you want to pay for your guests or not completely depends on you. Some choose to pay for their guests’ expenditures and some don’t.
                          </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                               <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                How do I Book a Venue or Resort for Destination Wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                GT Holidays has a list of gorgeous destination wedding locations in Andaman for couples to choose from. Regardless of whichever venue or resort you want to book, we will handle all the bookings for you. Depending on what you have chosen from our Andaman destination wedding packages, we can assign the resort or venue for you.
                          </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                             <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                Do you organize only Weddings or other Events as well?
                            </button>
                        </h1>
                        <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                We organize other wedding events as well along with the actual wedding, such as the Mehendi, sangeet, and so on. Therefore, we can tailor your package accordingly.
                             </div>
                            </div>
                </div>
               </div>
           </div>
    </div>
 </div>
</div>
</div>
{% endblock content %}
