{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Andaman Destination Wedding </h1>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
	<div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                     <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}" class="active">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                 <div class="col-9" style="text-align: justify;padding-left:50px;">
                     <h1>Tips For a Destination Wedding in Andaman</h1>
                     <p>Before planning a<span style="color:blue;"> destination wedding in the Andaman </span>Islands, there are a few key considerations to keep in mind. Visit the location in advance and meet with all the vendors to ensure everything meets your expectations. Be prepared for potential additional costs, although at MC Tours & Travels, we provide comprehensive packages to avoid unexpected expenses. Verify local marriage requirements, obtain all necessary documents, and choose a wedding dress that suits the destination’s weather.</p><br>
                     <h1> Cost of Andaman Destination Wedding Package</h1>
                     <p>The cost of a destination wedding in the Andaman Islands varies based on the package you select. We offer a range of wedding packages, and the final cost will depend on your preferences, such as whether you want us to handle just the wedding or additional events as well. Factors like your choice of venue, menu, and other details will also influence the overall cost.</p><br>
                     <h2>Best Part of Andaman for A Destination Wedding</h2>
                     <p>The Andaman Islands are home to stunning locations ideal for a destination wedding. We offer a variety of options for the best wedding venues in Andaman. For example, Havelock Island is a fantastic choice, offering breathtaking views and a charming atmosphere that creates the perfect setting for a beautiful wedding.</p><br>
                     <h2>Best Andaman Beach for Destination Wedding</h2>
                    <p>The Andaman Islands boast an array of captivating beaches perfect for a destination wedding. Some top choices include Radhanagar Beach, Bharatpur Beach, Laxmanpur Beach, Elephant Beach, Kalapathar Beach, Wandoor Beach, Govind Nagar Beach, and Vijaynagar Beach. Other stunning options are Chidiyatapu Beach, Lalaji Bay Beach, Aamkunj Beach, Baludera Beach, Raman Bageecha Beach, Merk Bay Beach, and Avis Island Beach. MC Tours & Travels can assist you in organizing the perfect beach destination wedding in Andaman, regardless of which beach you select.</p><br>
                     <h2>Best Andaman Resorts to Stay in For Destination Wedding</h2>
                    <p>Our experts can help you select from some of the finest destination wedding resorts in the Andaman Islands. Choose from luxurious options like Taj Exotica Resort & Spa, Blue Lagoon Resort, Coral Reef Resort, Symphony Summer Sands Beach Resort, Megapode Resort, Silver Sand Beach Resort, and Aparupa Sands Marina Beach Resort for your perfect wedding venue.</p><br>
                     <h1>FAQs About Our Andaman Destination Wedding Packages</h1>
                      <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                What is cost of destination wedding in Andaman?
                            </button>
                        </h1>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                          The cost of your destination wedding in the Andaman Islands will vary based on the venue you select and the customized wedding package you choose. We can provide you with a list of wedding venues in Andaman, complete with price details, to help you make an informed decision.
                            </div>
                    </div>
                        </div>
                    <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                What is the ideal Time to have a wedding in Andaman?
                            </button>
                        </h1>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                         The ideal time to get married in the Andaman Islands is from October to May, when the weather is at its best. GT Holidays offers access to the top destination wedding venues in Andaman, tailored to match the ambiance you desire for your special day.</div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                              What are the steps to plan a Destination Wedding in Andaman?
                            </button>
                        </h1>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                           To plan a destination wedding in the Andaman Islands, start by outlining all the details and specific features you desire. This should include the type of venue, preferred cuisine, and any additional functions you want us to handle.
                            </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               How much is an all-inclusive destination wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                             If you're looking for an all-inclusive wedding, the cost will depend on your budget. We offer a variety of all-inclusive destination wedding packages to suit your needs.</div>
                        </div>
                        </div>
                          <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               Do you cover the costs for guests at destination wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                         Deciding whether to cover your guests' expenses is entirely up to you. Some hosts choose to pay for their guests' costs, while others do not.
                            </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                               <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               What is the process for booking a Venue or Resort for Destination Wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                           MC Tours & Travels offers a selection of stunning destination wedding locations in the Andaman Islands for you to choose from. Once you've selected your preferred venue or resort from our packages, we will manage all the bookings for you. Depending on your choice, we'll assign the ideal resort or venue to match your Andaman destination wedding package.
                            </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                             <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               Do you handle only weddings, or do you organize other types of events as well?
                            </button>
                        </h1>
                        <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                             We also organize additional wedding events, such as Mehendi and Sangeet, alongside the main wedding. We can customize your package to include these events according to your preferences.
                            </div>
                            </div>
                </div>
               </div>
           </div>
    </div>
 </div>
</div>
</div>
{% endblock content %}
