{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    .sidebar {
            width: 20%;
            float: left;
            background-color: #f7f7f7;
            padding: 20px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            height: 60vh;
        }
        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .sidebar a.active {
            background-color: #FFD700;
            color: #fff;
        }

</style>
<div class="container-fluid">
    <div class="col-1"></div>
    <div class="col-11">
        <div class="container-fluid">
            <div class="container-fluid" >
                <img src="/media/wedding/kerala1_card.png" width="1400" height="200"/>
                <div class="sidebar">
                    <a href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="#">Andaman</a>
                    <a href="{% url 'wedding_goa' %}">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="#">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                </div>
                <h1>Kerala Destination Wedding Packages: A Perfect Beginning</h1>
                <p>A wedding is the most blissful affair of one’s life that everyone wishes to treasure. So, it’s only right that the most important event of your life deserves only the best, and nothing is better than being surrounded by people who love you and care about you, and are genuinely happy for you. So, why not whisk yourself away to this alternate reality with our Kerala Destination Wedding Packages that are surely going to hit all the right spots in your list.</p>

                <h2>What are some of the tips for Destination Wedding in Kerala?</h2>
                <p>The first and foremost thing to remember is the time or the season while planning for a destination wedding in Kerala. Although Kerala boasts of pleasant and serene weather throughout the year, the months between October to March are known to be some of the best months for a romantic wedding.</p>

                <p>The second most important thing is to hire local vendors for the best prices and authentic experience. You can always hire a wedding planner and leave it all on them to turn your wedding magical.</p>
                <h2>What is the cost of Kerala Destination Wedding package?</h2>
                <p>Kerala destination wedding cost really depends on the type of wedding, the time of the wedding, and your budget. But on average, the cost can be anywhere between INR 2,50,000 to INR 20,00,000; which isn’t too expensive for a big fat Indian wedding.</p>

                <h2>Which part of Kerala is best for Destination Wedding?</h2>
                <p>In this ‘God’s Own Country, there are tons of places where you can have your fairy-tale wedding and make your dreams come true.</p>
                <ul>
                    <li><b>Alleppey –</b> known for its beautiful backwaters and equally stunning and spacious houseboats, Alleppey is like a dream location come to life. You can hold one or all the ceremonies on the houseboats depending on the number of guests and have a natural backdrop to make it even more perfect. </li>
                    <li><b>Kovalam – </b>If a beach wedding is something that appeals to you, then getting married at the pristine beaches at Kovalam is your best bet. Let the shimmering waters be the witness of a perfect start to your new life.</li>
                    <li><b>Munnar – </b>A gorgeous hill station nestled amongst lush greenery, majestic waterfalls and cool breeze makes for the most romantic wedding with picture-perfect backdrops for you to create some good memories.</li>
                </ul>
                <h2>What are some of the best beaches for Destination Wedding in Kerala?</h2>
                <p>Getting married at the beach, feeling the salt in the air, and being surrounded by your loved ones are what most people dream of. Here are some of the best beaches for a perfect destination wedding in Kerala.</p>
                <ul>
                    <li><b>The Leela Kovalam (Trivandrum) – </b>Who wouldn’t want to get up on their wedding day and look outside to see the perfect view of the dazzling Arabian Sea being perched on the luxurious cliff-top venue. This beautiful location is perfect as it gets with stunning views, luxurious rooms, fantastic vibes that make it the perfect place to say ‘I do’.</li>
                    <li><b>Marari Beach Resort (Alleppey) – </b>Being in the lap of nature while surrounded by luxury is the perfect blend of getting the best of both worlds. With individual pools and thatched roof cottages, it is one of the finest and most authentic beach resorts in Kerala.</li>
                    <li><b>Turtle On the Beach (Thiruvanathapuram) – </b>This alluring Japanese-style five-star hotel along with having a unique Japanese essence to it, is also quite luxurious and makes it a hit amongst couples looking to have a grand affair.</li>
                </ul>
                <h2>What are some of the best resorts to stay in Kerala for wedding ceremony?</h2>
                <p>Kerala’s inherent natural beauty has been witnessed and adored by nationals and foreigners alike and rightly so. Kerala has some of the most beautiful resorts with natural backdrops making it a dream destination for couples.</p>
                <ul>
                    <li><b>Kumarakom Lake Resort – </b>This grandeur 5-star resort will give you all the feels of being Royalty with its beautiful villas and natural sceneries. The resort is extremely spacious making it the best choice for the wedding ceremony.</li>
                    <li><b>Estuary Island Resort – </b>With views of both the beach and stunning backwaters, this four-star resort located on the shores of Poovar Island Beach is the most ideal resort for destination weddings.</li>
                    <li><b>Ramada Resort –</b> This five-star Alleppey resort facing the backwaters is known for its state-of-the-art infrastructure and facilities. This is one of the most beautiful resorts in Kerala making it the perfect location to hold your wedding.</li>
                </ul>
                <p>This wonderland in the south of India is indeed a paradise and one of the most perfect and beautiful locations to commemorate the beginning of your life. If you are too looking to have your wedding in Kerala, then our Kerala Destination Wedding Packages will surely guide you to have your own perfect wedding!</p>

                <h1>FAQs</h1>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% endblock content %}