{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    .sidebar {
            width: 20%;
            float: left;
            background-color: #f7f7f7;
            padding: 20px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            height: 60vh;
        }
        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .sidebar a.active {
            background-color: #FFD700;
            color: #fff;
        }
</style>
<div class="container-fluid">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="container-fluid">
            <div class="container-fluid" >
				<img src="/media/wedding/jaisalmer1_card.png" width="1400" height="200"/>
                  <div class="sidebar">
        <a href="{% url 'wedding_agra' %}">Agra</a>
        <a href="#">Andaman</a>
        <a href="{% url 'wedding_goa' %}">Goa</a>
        <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
        <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
        <a href="#">Jodhpur</a>
        <a href="{% url 'wedding_kerala' %}">Kerala</a>

    </div>
              <h1>The Perfect Beginning to Forever- Jaisalmer Destination Wedding Packages</h1>
                <p>An ‘Oasis’ in the desert and also known as the ‘Golden City of India’, Jaisalmer is famous for its stunning sand dunes, sheer beauty, magnificent Havelis, historic temples and colourful market places. It’s also quite prominent for hosting couples worldwide and turning their dreams into reality! How you may ask? Jaisalmer has some of the best wedding venues in the country built with a traditional palatial look to make you feel nothing less than a royal. It welcomes couples from all around the world looking to get hitched, and if you’re one of those couples then our Jaisalmer Destination Wedding Package is all you need to bring your dream wedding to life.</p>
               <h1> What are some of the tips for Destination Wedding in Jaisalmer?</h1>
                 <p>A wedding can be quite a strenuous affair, and having a hot climate in the mix can only worsen it, and this Golden Beauty enjoys hot weather for the most part of the year. So, if getting married under the hot sun while wearing heavier than thou lehenga is not something you’d like then you have to be careful while choosing the date. Pick a time closer to the winters so you can experience every beautiful thing that Jaisalmer has to offer in all its glory with no heat or anything else to bother you.</p>

                 <br/> <h1>What is the cost of Jaisalmer Destination Wedding Package?</h1>
                  <p>Home to some of the world’s best palaces, it comes as no surprise that Jaisalmer might be a bit expensive especially if you want to be wed like a Royalty. Jaisalmer destination wedding cost can range anywhere between INR 25,00,000 to INR 1,00,00,000 and more. But, that’s not to say you can’t get married for anything less than that because you certainly can! There are some splendid alternatives that will make your wedding on a budget of INR 25,00,000 to INR 30,00,000.</p>
                 <h1> Which part of Jaisalmer is best for Destination Wedding?</h1>
                      <p>Emitting royal radiance, Jaisalmer is the perfect destination for a picture postcard wedding celebration. The whole of Jaisalmer is absolutely beautiful, and no matter where you choose to get married, you are bound to get that swoon worthy views and treatment.
                          Sam sand dunes, Sarovar poolside, Bageecha lawns are some of the best parts in Jaisalmer for an ideal wedding whereas Suryagarh, Jawahar Niwaas, Narayan Niwas, Gorbandh Palace and Fort Rajwada are some of the best locations for an upscale wedding.</p>

                      <h1>What are some of the best places for Destination Wedding in Jaisalmer?</h1>
                        <p>The golden city boasts of opulent palaces and forts with awe-inspiring backdrops, which makes for the high in appeal wedding venues for those who want to be treated no less than a King and Queen on their special day. Here are some of the best places for destination wedding in Jaisalmer-</p>
                       <ul>
                           <li><b>Suryagarh–</b> The ‘too-perfect’ wedding destination, Suryagarh is a symbol of all things grandiose. This luxurious venue has a mix of gardens, courtyards, terraces and banquet halls so your each and every function can be celebrated at a new venue keeping the magic alive. Get ready to feel like the royalty that you are!</li>
                            <li><b>Fort Rajwada–</b> A beloved wedding setting, this fancy venue is the most ideal location to host an extravagant reception or a celebration party. With everything this gorgeous venue has to offer, having your wedding here will on budget so you don’t have to compromise on anything.</li>
                             <li><b>Rang Mahal– </b>If you have a typical big Indian family, then getting married here would be perfect for a big fat Indian Wedding. Spacious and luxurious venues with state-of-the-art infrastructure adorn this Mahal that can comfortably accommodate your more than lavish wedding party.</li>
                       </ul>
                       <h1>What are some of the Best Resorts to Stay in Jaisalmer for wedding Ceremony?</h1>
                          <p>Some of the world’s most popular tourist destinations are in this beautiful city making it all the more favoured for couples looking to begin the new journey of their lives. Here are some of the best resorts to stay in Jaisalmer for wedding ceremony-</p>
                          <ul>
                              <li><b>Desert Tulip Hotel & Resort– </b>Situated in the heart of the Thar desert, this glorious hotel is truly a signature blend of culture, grace, elegance and heritage. Equipped with 64 rooms, this is the best wedding venue for couples wanting a royal wedding on budget.</li>
                               <li><b>Jaisalmer Marriott Resort & Spa–</b>Equipped with 135 rooms and 2 wedding venues, it’s the most ideal location for couples wanting all the luxuries amidst the grandeurs of a palatial looking resort.</li>
                               <li><b>Gorbandh Palace–</b> Boasting of 4 wedding venues inclusive of lush greenery, it is one of the most sought-after wedding locations for couples who want to get married under the stars in the open air.</li>
                          </ul>
                          <p>Jaisalmer is one such exotic location that can triple up as a holiday, wedding and honeymoon destination. If you want this beautiful part of history to be a part of your history, then our Jaisalmer Destination Wedding Package is all you need to make it happen. So, come, let us make your memorable day more memorable!</p>
                            <h1>FAQs</h1>
                             <div class="accordion" id="accordionExample">
               <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      When is the Best Time to get married in Jaisalmer?
                      </button>
                            </h2>
                     </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                              The best time to get married in Jaisalmer is between the months of November and March because the weather is cold enough to enhance the overall experience.
                          </div>
                          </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="headingTwo">
                               <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 How much does a Destination Wedding in Jaisalmer cost?
                                </button>
                              </h2>
                         </div>
                         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                              Jaisalmer being a very popular tourist destination and home to some of the world’s best spots, a fancy destination wedding in Jaisalmer could cost anywhere between INR 25,00,000 to INR 1,00,00,000 and more. Though if you’re going for a wedding on budget, it’ll cost you roughly around INR 25,00,000 to INR 30,00,000.
                          </div>
                          </div>
                         </div>
                      <div class="card"><div class="card-header" id="headingThree">
                       <h2 class="mb-0">
                           <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           How do I plan a Destination Wedding in Jaisalmer?
                           </button>
                            </h2>
                            </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                     <div class="card-body">
                         Planning a destination wedding is a task, especially if it’s not the city you’re familiar with. So why not leave it all on us while you busy yourself in enjoying the most beautiful moment of your life.
                     </div>
                      </div>
                  </div>
                                  <div class="card">
                  <div class="card-header" id="headingOne1">
                    <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                      How much is an all-inclusive Destination Wedding?
                      </button>
                            </h2>
                     </div>
                      <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordionExample">
                          <div class="card-body">
                              An all-inclusive destination wedding depends on the number of guests, the wedding venue, the cost of hosting the guests and other wedding titbits. But on an average, it can cost anywhere between INR 20,00,000 to INR 1,00,00,000 and more.
                         </div>
                          </div>
                         </div>
                                   <div class="card">
                  <div class="card-header" id="headingOne2">
                    <h2 class="mb-0">
                     <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                      How do I Book a Venue or Resort for Destination Wedding?
                      </button>
                            </h2>
                     </div>
                      <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordionExample">
                          <div class="card-body">
                              To book a venue or resort, all you have to do is either visit their official website or call them up directly requesting for a slot. Though, in today’s times booking a slot from website is much preferred.
                         </div>
                          </div>
                         </div>
              </div>
            </div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock content %}