{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<style>
    .sidebar {
            width: 20%;
            float: left;
            background-color: #f7f7f7;
            padding: 20px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            height: 60vh;
        }
        .sidebar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
            margin-bottom: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
        }


        .sidebar a.active {
            background-color: #FFD700;
            color: #fff;
        }
</style>
<div class="container-fluid">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="container-fluid">
            <div class="container-fluid" >
				<img src="/media/wedding/international1_card.png" width="1400" height="200"/>
                    <div class="sidebar">
                      <a href="#">Bali</a>
                       <a href="#">Dubai</a>
                       <a href="#">Malaysia</a>
                        <a href="#">Srilanka</a>
                        <a href="#">Thailand</a>
                     </div>
                      <h1>Book Top and Budget International Destination Wedding Packages at GT Holidays</h1>
                       <p>Destination wedding preparation isn’t always as easy as it sounds. Some couples know precisely when and where they want to marry. Others take time on choosing the perfect location. The biggest obstacle for many couples is selecting the right destination and resort.So if you’re a little uncertain about the complete planning process, here’s my advice:It is crucial to know that when it comes to destination wedding planning, compromise is a very significant word. Whether or not you have your destination picked out, look up international destination wedding packages to be aware of your options.</p>
                       <h1>What is the cost of international destination wedding packages?</h1>
                       <p>An international destination package can cost fromRs.25 lakhs to Rs.1crore and upwards. Whether you are looking for a beach wedding or luxury resort wedding, there are plenty of options to choose from within this price range. The price will vary based on destination, accommodations, events, duration and number of bookings.</p>
                        <h1>Which part of world is best for destination wedding?</h1>
                        <p>While there are many best locations around the world, as people usually prefer to have at least one ceremony in the picturesque outdoors, the weather plays an important factor. This makes the tropical island countries of Asia and the warm and temperate rich middle eastern cities the best for international wedding destinations. GT Holidays provides packages to all the top wedding destinations like Bali, Malaysia, Dubai, Sri Lanka and Thailand.</p>
                        <h1>Best place for international destination wedding</h1>
                        <p>The best place for international destination weddings continue to be beach resorts and warm climate locales. Most of the destinations double as honeymoon locations too. For beach destinations, Bali, Sri Lanka and Thailand are the most popular. For luxurious and glamourous destinations, Dubai and Malaysia are preferred. GT Holidays can help you select the best resorts as per your budget, whether you are looking for a destination wedding in Andaman, luxury destination wedding packages in Bali, destination wedding locations in Thailand, destination wedding venues in Sri Lanka, destination wedding spots in Malaysia or the top destination wedding locations in Dubai.</p>
                        <h1>Tips for international destination weddings</h1>
                        <p>Below are a few tips that will help you prepare for an international destination wedding.<br/>
                     Plan early! After you choose your wedding date, send out the save-the-date intimations as quickly as possible so your invitees can make their travel plans consequently. Attend your tastings early so you can convey entrée options with your invitations.<br/>
                     Give out travel information packages along with invitation cards 5 months in advance. Along with your invitation cards, attach a travel package that gives complete information on how people can get to the destination. If you’re having a destination wedding out of the country, some visa officers necessitate to see the wedding invitation card. So, ensure you send the invites out at least 5 months in advance.<br/>
                    Provide a wedding itinerary. Make sure your wedding invitation and travel package has a detailed itinerary of the wedding, listing the events and timings so that guests can plan their trip accordingly. As a bonus, add nearby tourist attractions, activities and establishment details, your guests can visit on their own time.<br/>
                    Book your travel needs through a tour organizer. You might be an expert at planning your solo trips, but why take unnecessary stress on your big day. Tour organizers like GT Holidays provide international wedding destination packages that take care of venue, accommodations, flights and other requirements.<br/>
                   Follow our Instagram profile to know about the latest offers and discounts.</p>
                  </div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
{% endblock content %}