{% extends "tt_html/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="background-image:url('/media/wedding/red2_background.png');background-size:cover;height:300px;">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center;padding-top:100px;color:white;font-family:Times New Roman,Time,serif;font-size:80px;">Goa Destination Wedding </h1>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:50px; padding-right:50px;">
	<div class="row">
        <div class="col">
            <div class="row container-fluid" >
                <div class="col-3 sidebar shadow">
                    <a  href="{% url 'wedding_agra' %}">Agra</a>
                    <a href="{% url 'wedding_andaman' %}">Andaman</a>
                    <a href="{% url 'wedding_goa' %}" class="active">Goa</a>
                    <a href="{% url 'wedding_jaipur' %}">Jaipur</a>
                    <a href="{% url 'wedding_jaisalmer' %}">Jaisalmer</a>
                    <a href="{% url 'wedding_jodpur' %}">Jodhpur</a>
                    <a href="{% url 'wedding_kerala' %}">Kerala</a>
                    <a href="{% url 'wedding_udaipur' %}">Udaipur</a>
                </div>
                 <div class="col-9" style="text-align: justify;padding-left:50px;">
                     <h1> Tips For a Destination Wedding in Goa</h1>
                     <p>Before planning a destination wedding in Goa, there are a couple of things you should remember to ensure you have the destination wedding of your dreams. Visit the venue beforehand so that everything is to your liking and you know how you want the venue to look like for every wedding event. Meet the vendor’s way prior to your wedding so all the details can be discussed properly and there is no misunderstanding at the last minute. Tailor your wedding dress according to the chosen destination, look up the local marriage requirements, and secure all the necessary travel documents.</p><br>
                     <h2>Cost of Goa Destination Wedding Package</h2>
                     <p>The Goa destination wedding cost will depend on the package you choose and the features you decide to add to it. The cost will vary depending on whether you wish to add other events to the wedding, the venue you select, and so on.</p><br>

                     <h2>Best Part of Goa for A Destination Wedding</h2>
                     <p>MC Tours & Travelsoffers some of the best destination wedding places in Goa for our customers to choose from. Some of the places include Old Goa, Baga, Panaji, Cavelossim, Vagator, and Anjuna.</p><br>
                     <h2>Best Goa Beach for Destination Wedding</h2>
                     <p>A beach destination wedding in Goa is always a good idea. Goa has several amazing beaches for you to choose from, such as Colva Beach, Dona Paula Beach, Morjim Beach, Palolem Beach, Vagator Beach, Galgibaga Beach, Benaulim Beach, Calangute Beach, Agonda Beach, Arambol Beach, Candolim Beach, Anjuna Beach, Butterfly Beach, and Cavelossim Beach.</p>

                     <h2>Best Goa Resorts to Stay in For Destination Wedding</h2>
                     <p>If you want to know about the best destination wedding resorts in Goa, MC Tours & Travelshas it covered. There are numerous resorts where you can have your weddings, such as Taj Resort & Convention Centre, Agonda Serenity Resort, Andores Resort And Spa, Art Resort, Patnem Garden Resort, Seashell Suites and Villas, Seashell Beach Suites, Doubletree By Hilton, Radisson Blu Resort, Kings Villa Resort, The Leela, and Novotel Goa Resort & Spa. Some other luxurious resorts at Goa for a destination wedding include Acron Waterfront Resort, Heritage Village Resort & Spa, Shanti Morada, Jacks Resort, Hacienda De Goa Resort, and Nanu Resort.</p>
                     <h1>FAQs About Our Goa Destination Wedding Packages</h1>
                 <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                How much does a destination wedding in Goa cost?
                            </button>
                        </h1>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The cost of your destination wedding in Goa will depend on the kind of package you choose. We tailor your wedding package based on your preferences and decisions, such as the type of food, the type of venue, whether you want to include other functions in the package, and so on.
                         </div>
                    </div>
                        </div>
                    <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                When is the Best Time to get married in Goa?
                            </button>
                        </h1>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The period between November and March is the perfect time to have a destination wedding in Goa. The weather during this time is balmy and clear with a wonderful, cool sea breeze blowing through, making it a great location for a destination wedding.
                        </div>
                    </div>
                        </div>
                        <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               How do I plan a Destination Wedding in Goa?
                            </button>
                        </h1>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                MC Tours & Travelsprovides you with a bunch of destination wedding locations in Goa for you to choose from. However, before you plan a destination wedding in Goa, there’s a checklist you should make so that you remember to get everything done, such as visiting the location beforehand, meeting the vendors in advance, matching your outfits to the weather, and so on.

                          </div>
                        </div>
                    </div>
                        <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               How much is an all-inclusive destination wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The cost of an all-inclusive destination wedding would depend on the kind of package you choose. We have different levels of all-inclusive wedding packages, the prices of which vary depending on the features you choose. Such a package would include not only the location, food, decoration, and music, but also the other events leading up to the wedding.
                         </div>
                            </div>
                        </div>


                          <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree2">
                              <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                               Do you pay for guests at destination wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Whether you pay for your guests at your destination wedding or not depends on you. While it’s not necessary for you to pay for their lodging, some choose to do so.
                         </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                               <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                How do I Book a Venue or Resort for Destination Wedding?
                            </button>
                        </h1>
                        <div id="flush-collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                We have a list of the best destination wedding venues in Goa for you to select from. MC Tours & Travelstakes care of all your bookings for you. Whether you want to book a resort or any other venue for your wedding, we arrange it all depending on your preference.
                        </div>
                            </div>
                        </div>
                         <div class="accordion-item">
                        <h1 class="accordion-header">
                            <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree4" aria-expanded="false" aria-controls="flush-collapseThree4">
                             <i class="fa-solid fa-clipboard-question fa-1x" style="padding-right:20px;"></i>
                                Do you organize only Weddings or other Events as well?
                            </button>
                        </h1>
                        <div id="flush-collapseThree4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                We don’t organize weddings, but other events leading up to the wedding as well. These events include the sangeet ceremony, haldi, engagement, mehendi, and so on.
                            </div>
                            </div>
                </div>
               </div>
           </div>
    </div>
 </div>
</div>
</div>











    <div class="carousel-container">
        <div class="carousel">
            <div class="card">
        <img src="https://via.placeholder.com/300x200" alt="Card Image">

    </div>
            <a href="{% url 'wedding_goa' %}" class="slide">
                <img src="/media/wedding/goa_card.png" alt="goa">
                <div class="text-overlay">goa</div>
            </a>
            <a href="{% url 'wedding_jaipur' %}" class="slide">
                <img src="\media\wedding\jaipur_card.png" alt="jaipur">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="\media\wedding\jaisalmer2_card.png" alt="jaisalmer">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="\media\wedding\jodpur2_card.png" alt="jodpur">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="/media/wedding/kerala3_card.png" alt="kerala">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="/media/wedding/udaipur2_card.png" alt="udaipur">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="/media/wedding/andaman2_card.png" alt="andaman">
            </a>
              <a href="{% url 'wedding_india' %}" class="slide">
                <img src="\media\wedding\agra2_card.png" alt="Agra">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="/media/wedding/india2_card.png" alt="india">
            </a>
            <a href="{% url 'wedding_india' %}" class="slide">
                <img src="/media/wedding/international2_card.png" alt="international">
            <div class="text-overlay">Sample Text on Image</div>
            </a>
        </div>
        <button class="prev" onclick="moveSlides(-1)">&#10094;</button>
        <button class="next" onclick="moveSlides(1)">&#10095;</button>
    </div>

    <script src="script.js"></script>


<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.carousel-container {
    position: relative;
    max-width: 500px;
    width: 90%;
    margin: auto;
    overflow: hidden;


}

.carousel {
    transition: transform 0.5s ease-in-out;
    display: flex;
}

.slide {
    min-width: 50%;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 80%;
    border-radius: 10px;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

</style>
<script type="text/javascript">
    let currentIndex = 0;


function moveSlides(step) {
    const slides = document.querySelectorAll('.carousel .slide');
    const totalSlides = slides.length;

    currentIndex = (currentIndex + step + totalSlides) % totalSlides;

    const carousel = document.querySelector('.carousel');
    carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
}

</script>






{% endblock content %}